    <div class="pwide{{dashobj.zoom_x|add:'1'}} ptall{{dashobj.zoom_y|add:'1'}} panel" id="{{dashobj.pk}}">
        <div class="panel_content" id="content{{dashobj.pk}}">
            <div class="panel_header">
                <h3>{{dashobj.boardname}} - {{obj.shortname|title}}</h3>
                {% include 'nav/panel_controls.html' %}
            </div>
            <div class="panel_inner">
                <p>
                <ul id="panel_inner_list">
                    {% for k, b in board.items %}
                        {{b|safe}}
                    {% endfor %}
                </ul>
                </p>
            </div>
        </div>
    </div>
