<ul class="panel_controls">
    <li ><a href="javascript:;" onClick="refresh_dashboard('{{dashobj.plank}}', 1, {{start}}, {{end}});"><i class="icon-refresh"></i></a></li>
    <li {% if dashobj.zoom_y == 2 %}class="disabled"{% endif %}><a href="javascript:;" onClick="downzoom('{{dashobj.pk}}', '{{dashobj.plank}}', 1, '{{dashobj.boardname}}');"><i class="icon-chevron-down"></i></a></li>
    <li {% if dashobj.zoom_y == 0 %}class="disabled"{% endif %}><a href="javascript:;" onClick="upzoom('{{dashobj.pk}}', '{{dashobj.plank}}', 1, '{{dashobj.boardname}}');"><i class="icon-chevron-up"></i></a></li>
    <li {% if dashobj.zoom_x == 0 %}class="disabled"{% endif %}><a href="javascript:;" onClick="leftzoom('{{dashobj.pk}}', '{{dashobj.plank}}', 1, '{{dashobj.boardname}}');"><i class="icon-chevron-left"></i></a></li>
    <li {% if dashobj.zoom_x == 3 %}class="disabled"{% endif %}><a href="javascript:;" onClick="rightzoom('{{dashobj.pk}}', '{{dashobj.plank}}', 1, '{{dashobj.boardname}}');"><i class="icon-chevron-right"></i></a></li>
    <li class="panel_dropdown">
        <i class="icon-cog"></i>
        <ul class="menu">
            {% if start != 0 %}
            <li><a href="javascript:;" onClick="refresh_dashboard('{{dashobj.plank}}', 1, {{start|add:'-20'}}, {{end|add:'-20'}});">Previous Page of Results </a></li>
            {% endif %}
            {% if start|add:'20' < count %}
            <li><a href="javascript:;" onClick="refresh_dashboard('{{dashobj.plank}}', 1, {{start|add:'20'}}, {{end|add:'20'}});">Next Page of Results</a></li>
            {% endif %}
            {% if dashobj.boardname == 'Proposals' %}
                <li><a href="javascript:;" onClick="resort_dashboard('{{dashobj.pk}}', 'n')">Order by Date</a></li>
                <li><a href="javascript:;" onClick="resort_dashboard('{{dashobj.pk}}', 'h')">Order by Activity</a></li>
                <li><a href="javascript:;" onClick="resort_dashboard('{{dashobj.pk}}', 'cns')">Order by Agreement</a></li>
                <li><a href="javascript:;" onClick="resort_dashboard('{{dashobj.pk}}', 'c')">Order by Controversy</a></li>
            {% endif %}
            {% if dashobj.boardname == 'Groups' %}
                <li><a href="javascript:;" onClick="resort_dashboard('{{dashobj.pk}}', 'n')">Order by Date</a></li>
                <li><a href="javascript:;" onClick="resort_dashboard('{{dashobj.pk}}', 'c')">Order by Proposals</a></li>
                <li><a href="javascript:;" onClick="resort_dashboard('{{dashobj.pk}}', 'h')">Order by Members</a></li>
            {% endif %}
            {% if dashobj.boardname == 'Members' %}
                <li><a href="javascript:;" onClick="resort_dashboard('{{dashobj.pk}}', 'n')">Order by Joined Date</a></li>
            {% endif %}

            <li class="delete_panel"><a href="javascript:;" onClick="delete_dashboard('{{dashobj.pk}}');">Delete Panel</a></li>
        </ul>
    </li>
</ul>