<div class="pwide{{dashobj.zoom_x|add:'1'}} ptall{{dashobj.zoom_y|add:'1'}} panel" id="{{dashobj.pk}}">
    <div class="panel_content" id="content{{dashobj.pk}}">
        <div class="panel_header">
            <h3>
                {% if dashobj.boardname == 'Chat' %}

                <i class="icon-comment"></i>

                {% endif %}

                {% if dashobj.boardname == 'Stream' or dashobj.boardname == 'OpenAssembly Tutorial' %}

                <i class="icon-film"></i>

                {% endif %}

                {% if dashobj.boardname == 'Proposals' %}

                    <i class="icon-fire"></i>

                    {% if dimension == 'n' %}New {% endif %}{% if dimension == 'h' %}Hot {% endif %}
                    {% if dimension == 'b' %}Best {% endif %}{% if dimension == 'c' %}Cont. {% endif %}


                Sparks
                
                {% else %}
                    {% if dashobj.boardname == 'Groups' %}

                        <img class="icon-default" src="/static/icons/group.png">


                        {% if dimension == 'n' %}New {% endif %}{% if dimension == 'h' %}Active {% endif %}
                        {% if dimension == 'c' %}Big {% endif %}
                    

                    {{dashobj.boardname}}
                    {% else %}
                        {% if dashobj.boardname == 'Members' %}

                            <i class="icon-user"></i>


                            {% if dimension == 'n' %}New {% endif %}                    
                            {% if dimension == 'j' %}Recently Online {% endif %}
                            {% if dimension == 'a' %}Alphabetical {% endif %}

                        Users
                        {% else %}

                            {% if dashobj.boardname == 'Location' %}

                                <i class="icon-globe"></i>

                            
                                {% if dimension == 'question' or dimension == 'ipquestion' %}
                                    Sparks
                                {% endif %}
                                {% if dimension == 'topic' or dimension == 'iptopic' %}
                                        Groups
                                {% endif %}
                                {% if dimension  == 'user' or dimension == 'ipuser' %}
                                        Users
                                {% endif %}
                                   {% if dimension == 'ipquestion' or dimension == 'iptopic' or dimension == 'ipuser'%}
                                    Near Me
                                   {% else %}
                                    Map
                                    {% endif %}
                            {% else %}

                                {{dashobj.boardname}}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}



              {% if obj != None %} - <a data-href="{{ obj.get_absolute_url }}">{{obj.shortname|title}}</a> {% endif %}</h3>
            {% include 'nav/panel_controls.html' %}
        </div>
        <!-- Alot of chat specific formatting here to overcome some of the limitations of the panel for placing static content -->
        {% if dashobj.boardname == 'Chat' %}
        <div id="user_container{% if obj.pk %}{{obj.pk}}{% else %}welcome_chat{% endif %}" class="user_container utall{{dashobj.zoom_y|add:'1'}}" >
                <b>USERS</b>
                <div id="users{% if obj.pk %}{{obj.pk}}{% else %}welcome_chat{% endif %}"></div>
        </div>
        {% endif %} 

        <div {% if dashobj.boardname == 'Chat' %}style="width:80%;"{% endif %} class="panel_inner {% if dashobj.boardname == 'Chat' or dashobj.plank == '/p/location' %} noscroll{% endif %}" id="panel_inner{{dashobj.pk}}">
            {% if dashobj.plank != '/p/location' %}<p> {% endif %}
                <ul id="panel_inner_list">
                    {% for k, b in board.items %}
                        {{b|safe}}
                    {% endfor %}
                </ul>
                {% if dashobj.boardname != 'Chat' and dashobj.plank != '/p/location' %}
                    <ul class="pager">
                    {% if start != 0 %}
                        <li class="previous"><a class="btn" onClick="refresh_dashboard('{{dashobj.plank}}', 1, '{{dashobj.pk}}', {{start|add:'-20'}}, {{end|add:'-20'}});">&larr;</a>
                    {% else %}
                        <li class="previous disabled"><a class="btn">&larr;</a>
                    {% endif %}
                    </li>
                    {% if start|add:'20' < count %}
                        <li class="next"><a class="btn" onClick="refresh_dashboard('{{dashobj.plank}}', 1, '{{dashobj.pk}}', {{start|add:'20'}}, {{end|add:'20'}});">&rarr;</a>
                    {% else %}
                        <li class="next disabled &rarr;"><a class="btn">&rarr;</a>
                    {% endif %}
                    </ul>
                {% endif %}
            {% if dashobj.plank != '/p/location' %}</p> {% endif %}

            {% if dashobj.boardname == 'Chat' %}
            <div id="chat_ctrl{{dashobj.pk}}">
                    <input style="width:75%;" id="data{% if obj.pk %}{{obj.pk}}{% else %}welcome_chat{% endif %}" />
                    <input type="button" class="btn btn-mini" id="datasend{% if obj.pk %}{{obj.pk}}{% else %}welcome_chat{% endif %}" value="send" />
                </div>

                <script>
                $(function(){
                    $('#chat_ctrl{{dashobj.pk}}').css('marginTop', $('#{{dashobj.pk}}').height()-45 + "px");
                });
                </script>
            {% endif %}
        </div>

    </div>
</div>
