<div class="pwide{{dashobj.zoom_x|add:'1'}} ptall{{dashobj.zoom_y|add:'1'}} panel" id="{{dashobj.pk}}">
    <div class="panel_content" id="content{{dashobj.pk}}">
        <div class="panel_header">
            <h3>
                {% if dashobj.boardname == 'Proposals' %}

                    {% if dimension == 'n' %}New {% endif %}{% if dimension == 'h' %}Hot {% endif %}
                    {% if dimension == 'b' %}Best {% endif %}{% if dimension == 'c' %}Cont. {% endif %}


                Sparks
                
                {% else %}
                    {% if dashobj.boardname == 'Groups' %}

                        {% if dimension == 'n' %}New {% endif %}{% if dimension == 'h' %}Active {% endif %}
                        {% if dimension == 'c' %}Big {% endif %}
                    

                    {{dashobj.boardname}}
                    {% else %}
                        {% if dashobj.boardname == 'Members' %}

                            {% if dimension == 'n' %}New {% endif %}                    
                            {% if dimension == 'j' %}Recently Online {% endif %}
                            {% if dimension == 'a' %}Alphabetical {% endif %}

                        Users
                        {% else %}

                            {% if dashobj.boardname == 'Location' %}
                            
                                {% if dimension == 'question' %}
                                    Sparks
                                {% endif %}
                                {% if dimension == 'topic' %}
                                        Groups
                                {% endif %}
                                {% if dimension  == 'user' %}
                                        Users
                                {% endif %}
                                    Map
                            {% else %}

                                {{dashobj.boardname}}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}



              {% if obj != None %} - <a data-href="{{ obj.get_absolute_url }}">{{obj.shortname|title}}</a> {% endif %}</h3>
            {% include 'nav/panel_controls.html' %}
        </div>
        <!-- Alot of chat specific formatting here to overcome some of the limitations of the panel for placing static content -->
        {% if dashobj.boardname == 'Chat' %}
        <div id="user_container{% if obj.pk %}{{obj.pk}}{% else %}welcome_chat{% endif %}" style="border:1px #ccc solid;border-top:0;border-right:0;float:left;width:20%;overflow:hidden;" class="utall{{dashobj.zoom_y|add:'1'}}" >
                <b>USERS</b>
                <div id="users{% if obj.pk %}{{obj.pk}}{% else %}welcome_chat{% endif %}"></div>
        </div>
        {% endif %} 

        <div {% if dashobj.boardname == 'Chat' %}style="width:80%;"{% endif %} class="panel_inner" id="panel_inner{{dashobj.pk}}">
            <p> 
            <ul id="panel_inner_list">
                {% for k, b in board.items %}
                    {{b|safe}}
                {% endfor %}
            </ul>
            {% if start != 0 %}
                <a class="btn btn_blue" onClick="refresh_dashboard('{{dashobj.plank}}', 1, {{start|add:'-20'}}, {{end|add:'-20'}});">Previous</a>
            {% endif %}
            {% if start|add:'20' < count %}
                <a class="btn btn_blue" onClick="refresh_dashboard('{{dashobj.plank}}', 1, {{start|add:'20'}}, {{end|add:'20'}});">Next</a>
            {% endif %}
            </p>

        </div>
        {% if dashobj.boardname == 'Chat' %}
        <div style="padding-left:21%;position:relative;margin-top:{% if dashobj.zoom_y == 0 %}36%;{% endif %}{% if dashobj.zoom_y == 1 %}91%;{% endif %}{% if dashobj.zoom_y == 2 %}14%;{% endif %}" id="chat_ctrl{{dashobj.pk}}">
                <input style="width:75%;" id="data{% if obj.pk %}{{obj.pk}}{% else %}welcome_chat{% endif %}" />
                <input type="button" id="datasend{% if obj.pk %}{{obj.pk}}{% else %}welcome_chat{% endif %}" value="send" />
            </div>

            <script>
            $(function(){
                $('#chat_ctrl{{dashobj.pk}}').css('marginTop', $('#{{dashobj.pk}}').height()-63 + "px");
            });
            </script>
        {% endif %} 
    </div>
</div>
