{% load pp_url %}
 <li id="{{group.topic.pk}}">
    <a href="#">{% include 'etc/object_img_25_group.html' %}</a>
    <div class="group_preview">
        <a class="group_title" data-href="{% pp_url template='group.html' object=group.topic %}"><h4>{{group.topic|title}}</h4></a>
        <div class="group_preview_meta">
            <a onClick="push_dashboard('{% pp_url template='members.html' object=group.topic %}', 1, 'Members');">members <i class="icon-list-alt icon-white"></i></a> |
            <a onClick="push_dashboard('{% pp_url template='proposals.html' object=group.topic %}', 1, 'Proposals');">sparks<i class="icon-list-alt icon-white"></i></a> |
            <a onClick="push_dashboard('{% pp_url template='chat.html' object=group.topic %}', 1, 'Chat');">chat <i class="icon-list-alt icon-white"></i></a> |
            <a onClick="push_dashboard('{% pp_url template='stream.html' object=group.topic %}', 1, 'Stream');">stream <i class="icon-list-alt icon-white"></i></a> 
        </div>
    </div>
</li>