<ul class="panel_controls">
    <li ><a onClick="refresh_dashboard('{{dashobj.plank}}', 1, {{start}}, {{end}});"><i class="icon-refresh"></i></a></li>
    <li {% if dashobj.zoom_y == 2 %}class="disabled"{% endif %}><a onClick="downzoom('{{dashobj.pk}}', '{{dashobj.plank}}', 1, '{{dashobj.boardname}}');"><i class="icon-chevron-down"></i></a></li>
    <li {% if dashobj.zoom_y == 0 %}class="disabled"{% endif %}><a onClick="upzoom('{{dashobj.pk}}', '{{dashobj.plank}}', 1, '{{dashobj.boardname}}');"><i class="icon-chevron-up"></i></a></li>
    <li {% if dashobj.zoom_x == 0 %}class="disabled"{% endif %}><a onClick="leftzoom('{{dashobj.pk}}', '{{dashobj.plank}}', 1, '{{dashobj.boardname}}');"><i class="icon-chevron-left"></i></a></li>
    <li {% if dashobj.zoom_x == 3 %}class="disabled"{% endif %}><a onClick="rightzoom('{{dashobj.pk}}', '{{dashobj.plank}}', 1, '{{dashobj.boardname}}');"><i class="icon-chevron-right"></i></a></li>
    <li class="panel_dropdown">
        <i class="icon-cog"></i>
        <ul class="menu">
            {% if dashobj.boardname == 'Proposals' %}
                <li><a onClick="resort_dashboard('{{dashobj.pk}}', 'n')">Order by New</a></li>
                <li><a onClick="resort_dashboard('{{dashobj.pk}}', 'b')">Order by Best</a></li>
                <li><a onClick="resort_dashboard('{{dashobj.pk}}', 'h')">Order by Hot</a></li>
                {% comment %}
                <li><a onClick="resort_dashboard('{{dashobj.pk}}', 'cns')">Order by Consensus</a></li>
                <li><a onClick="resort_dashboard('{{dashobj.pk}}', 'c')">Order by Controversy</a></li>
                {% endcomment %}
            {% endif %}
            {% if dashobj.boardname == 'Groups' %}
                <li><a onClick="resort_dashboard('{{dashobj.pk}}', 'n')">Order by New</a></li>
                <li><a onClick="resort_dashboard('{{dashobj.pk}}', 'c')">Order by Most Proposals</a></li>
                <li><a onClick="resort_dashboard('{{dashobj.pk}}', 'h')">Order by Most Members</a></li>
            {% endif %}
            {% if dashobj.boardname == 'Members' %}
                <li><a onClick="resort_dashboard('{{dashobj.pk}}', 'n')">Order by New</a></li>
            {% endif %}

            <li class="delete_panel"><a onClick="delete_dashboard('{{dashobj.pk}}');">Delete Panel</a></li>
        </ul>
    </li>
</ul>