{% extends 'user/user_listing.html' %}

    {% block icon %}
        <div class="img">
         {% pp_get_sources object=i.sender type='img' %}{% if pp_source.cur_img %}{% thumbnail pp_source.cur_img.file "50x50" crop="center" as im %}<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{% endthumbnail %}{% else %}<img src="/static/img/faux_logo.png">{% endif %}{% endpp_get_sources %}
        </div>
    {% endblock %}

    {% block meta %}
    <small>{{i.submit_date|timesince}} ago</small>
    {% endblock %}

    {% block text %}
    <a data-href="{{i.link}}">{{i.text|safe}}</a>
    {% endblock %}
