{% extends 'skeleton/page.html' %}

{% block content %}

    {% pp_get_user_profile user=object %}

		{% include 'user/user_info.html' %}

        <div class="tab-content">

			{% if user == object %}


	      	    <div class="tab-pane {% if dimension == 'm' %}active{% endif %}" id="mes{{object.pk}}">
  	          	    
						{% include 'user/user_messages.html' %}

	            </div>
	           
				{% endif %}
				              
	      	    <div class="tab-pane {% if dimension == 't' or not dimension %}active{% endif %}" id="trust{{object.pk}}">

					{% include 'user/user_social.html' %}

	            </div>

	      	    <div class="tab-pane {% if dimension == 'c' %}active{% endif %}" id="cont{{object.pk}}">

					{% include 'user/user_contribution.html' %}

	            </div>

	            <div class="tab-pane" id="about_me{{object.pk}}">

		            {% if pp_profile.profile.about_me %}
	                    <div class="row">
	                    	<div class="span6 offset2">
	                    		<p>{{pp_profile.profile.about_me}}</p>
	                    	</div>
	                    </div>
		            {% endif %}

	        	</div>

	      	    <div class="tab-pane {% if dimension == 'a' %}active{% endif %}" id="actions{{object.pk}}">

					{% include 'user/actionlist.html' %}

	            </div>
			   
		</div>
    {% endpp_get_user_profile %}


{% endblock %}