{% extends 'skeleton/page.html' %}

{% block content %}

			<div id="content">
            
			{% include 'user/user_info.html' %}

			{% include 'user/user_social.html' %}

			   
			{% if dimension = 'activity' or not dimension %}

				{% include 'user/user_contribution.html' %}

			{% endif %}

			{% if user == object %}
				{% if dimension = 'messages' or not dimension %}

					{% include 'user/user_messages.html' %}

				{% endif %}
			{% endif %}
			                                     
			</div>



{% endblock %}