{% pp_get_reputation_events user=object start=start end=end %}
    {% for note in pp_reputation.reputation_events %}
        <div class="notitem activity">

            <div class="time">{{note.created_dt}}</div>

            <p style="display:none;" class="sorttime"> {{note.created_dt|date:"U" }}</p>


                        <!-- this bunch of junk just turns out to be a piece of text -->
                        {% if note.related_object.text %}   

                            <img src="/static/img/comment_icon_40.png">

                            <div class="content">

                                    <a data-href="{{note.get_absolute_url}}">

                                        {{ note.related_object.text}}


                        {% else %}

                            {% if note.related_object.content_object.summary %}
                            
                               <img src="/static/img/idea_icon.png">

                                <div class="content">

                                        <a data-href="{{note.get_absolute_url}}">
                                      
                                             {{note.related_object.content_object.summary}}
       
                            {% else %}

                                <img src="/static/img/vote_icon_40.png">

                                <div class="content">

                                        <a data-href="{{note.get_absolute_url}}">

                                            Vote {{note.related_object}}


                            {% endif %}
                        {% endif %}
                    </a>
            </div>
        </div>
    {% endfor %} 

{% endpp_get_reputation_events %}
