{% if user == object %}
    {% pp_consensus_get object=object.pk %}
        {% include 'user/user_activity.html' %}
    {% endpp_consensus_get %}
{% endif %}

{% pp_get_avatar user=object %}

    {% pp_get_contenttype_id object=object %}

        {% if user = object and user.is_authenticated %}
            <a id="avatar" data-href="/p/upload/o-{{user.id}}/t-{{pp_source.ctype_pk}}">

            {% include 'etc/object_img_100.html' %}</a>
            {% else %}
            <span id="avatar">
                {% include 'etc/object_img_100.html' %}
            </span>
        {% endif %}

    {% endpp_get_contenttype_id %}

{% endpp_get_avatar %}

<h1 class="page_title">{{object.username}}</h1>

{% pp_get_user_profile user=object %}
    {% if pp_profile.profile.about_me %}
            <div style="margin-bottom:25px; margin-top:10px; overflow:hidden;">{{pp_profile.profile.about_me}}</div>
    {% endif %}
{% endpp_get_user_profile %}


{% if user == object %}

    <div>
        <label>Member Since</label>
        {{object.date_joined|date:"d/m/y"}}
    </div>
    
     {% pp_get_reputation user=object %}
        <div>
            <label>Contribution</label>
            {{pp_reputation.reputation}}
        </div>
     {% endpp_get_reputation %}

    {% pp_subscriber_count user=object %}                
        <div>
            <label>Trust You</label>
            {{pp_subscription.count}}
        </div>
    {% endpp_subscriber_count %}

    {% pp_subscribee_count user=object %}                
        <div style="margin-bottom:10px;">
            <label>You Trust</label>
            {{pp_subscription.count}}
        </div>
    {% endpp_subscribee_count %} 

    
{% else %} 

{% pp_has_subscription subscriber=user subscribee=object %}
        {% if not pp_subscription.has_subscription %}
            <a class="btn btn_blue" onClick="support(true, '{{object.pk}}', '{{request.user.pk}}')">I Trust This Citizen</a> 

        {% else %}
            <a class="btn btn_blue" onClick="support(false, '{{object.pk}}', '{{request.user.pk}}')">Stop Trusting</a>
        {% endif %}

        <a class="btn btn_blue" data-href="{% pp_url template='message.html' dimension='mes' object=object %}">Send Message</a>


{% endpp_has_subscription %}
            

{% endif %}


<span class="btn btn_green" onClick="$('#container{{object.pk}}').isotope({ filter: '*' });">All</span>

{% if object == user %}
    <span class="btn btn_green" onClick="$('#container{{object.pk}}').isotope({ filter: '.notifications' });">Notifications</span>
{% endif %}
<span class="btn btn_green" onClick="$('#container{{object.pk}}').isotope({ filter: '.activity' });">Activity</span>
<span class="btn btn_green" onClick="$('#container{{object.pk}}').isotope({ filter: '.trustme' });">Trust {{object.username}}</span>
<span class="btn btn_green" onClick="$('#container{{object.pk}}').isotope({ filter: '.itrust' });">{{object.username}} Trusts</span>