<div class="user_info">
{% if user == object %}
    {% pp_consensus_get object=object.pk %}
        {% include 'user/user_activity.html' %}
    {% endpp_consensus_get %}
{% endif %}

{% pp_get_avatar user=object %}

    {% pp_get_contenttype_id object=object %}

        {% if user = object and user.is_authenticated %}
            <a id="avatar" data-href="/p/upload/o-{{user.id}}/t-{{pp_source.ctype_pk}}">

            {% include 'etc/object_img_100.html' %}</a>
            {% else %}
            <span id="avatar">
                {% include 'etc/object_img_100.html' %}
            </span>
        {% endif %}

    {% endpp_get_contenttype_id %}

{% endpp_get_avatar %}


<div class="usercircle circle">
    <label>{{object.date_joined|date:"d/m/y"}}</label>
    <div class="title"> Joined </div>
</div>


{% comment %}
     {% pp_get_reputation user=object %}
        <div class="circle usercircle">
             <label>{{pp_reputation.reputation}}</label>
                 <div class="title"> Contributions </div>
        </div>
     {% endpp_get_reputation %}
{% endcomment %}


{% pp_subscriber_count user=object %}                
    <div class="circle usercircle">
       <label> {{pp_subscription.count}}</label>
           <div class="title"> Trusted By </div>

    </div>
{% endpp_subscriber_count %}

{% pp_subscribee_count user=object %}                
    <div class="circle usercircle">
        <label>{{pp_subscription.count}}</label>
        <div class="title"> Trusts </div>
    </div>
{% endpp_subscribee_count %} 


<h1 class="page_title">{{object.username}}</h1>
{% pp_get_user_profile user=object %}
    {% if pp_profile.profile.about_me %}
            <div style="margin-bottom:5px;">{{pp_profile.profile.about_me}}</div>
    {% endif %}
{% endpp_get_user_profile %}



{% if user != object %}

{% pp_has_subscription subscriber=user subscribee=object %}
        {% if not pp_subscription.has_subscription %}
            <a class="btn" onClick="support(true, '{{object.pk}}', '{{request.user.pk}}')"><i class="icon-chevron-up icon-left"></i>Trust</a> 

        {% else %}
            <a class="btn" onClick="support(false, '{{object.pk}}', '{{request.user.pk}}')"><i class="icon-chevron-down icon-left"></i>Stop Trusting</a>
        {% endif %}

        <a class="btn" data-href="{% pp_url template='message.html' dimension='mes' object=object %}"><i class="icon-envelope icon-left"></i>Message</a>


{% endpp_has_subscription %}
            

{% endif %}


<span class="btn" onClick="$('#container{{object.pk}}').isotope({ filter: '*' });"><i class="icon-home icon-left"></i>All</span>

{% if object == user %}
    <span class="btn btn_red" onClick="$('#container{{object.pk}}').isotope({ filter: '.notifications' });"><i class="icon-envelope icon-white icon-left"></i>Notifications</span>
{% endif %}
<span class="btn btn_blue" onClick="$('#container{{object.pk}}').isotope({ filter: '.activity' });"><i class="icon-user icon-white icon-left"></i>Activity</span>
<span class="btn btn_green" onClick="$('#container{{object.pk}}').isotope({ filter: '.trustme' });"><i class="icon-arrow-left icon-white icon-left"></i>Trusts {{object.username}}</span>
<span class="btn btn_green" onClick="$('#container{{object.pk}}').isotope({ filter: '.itrust' });"><i class="icon-arrow-right icon-white icon-left"></i>{{object.username}} Trusts</span>

{% if request.user == object %}
<a class="btn" data-href="{% pp_url template='pp_profile_form.html' object=request.user %}"><i class="icon-pencil icon-left"></i>Edit Profile</a>
{% endif %}


</div>