{% extends 'skeleton/page.html' %}
<script type="text/javascript" src="/static/js/jquery.isotope.min.js"></script>

{% block content %}

            
			{% include 'user/user_info.html' %}

		<div id="container{{object.pk}}">


			{% if user == object %}

					{% include 'user/user_messages.html' %}

			{% endif %}
			                

			{% include 'user/user_social.html' %}

			   
			{% include 'user/user_contribution.html' %}

		</div>
                     

<script>

    $(document).ready(function(){
	  $('#container{{object.pk}}').isotope({
          // options
            getSortData : {
			    time : function ( $elem ) {
			      return $elem.find('.sorttime').text();
			    },
		  	},
          itemSelector : '.notitem',
          layoutMode : 'fitRows',
          sortBy : 'time',
		  sortAscending : false,
        });
	});
</script>



{% endblock %}