
    {% pp_get_subscribers_for_user user=object start=start end=end %}
       
        {% for i in pp_subscription.subscribers %}
            {% pp_get_avatar user=i.subscriber %}
                <div class="notitem trustme">
                        <p style="display:none;" class="sorttime"> {{i.created_dt|date:"U" }}</p>

                        <span class="user_icon"><i class="icon-user"></i></span>
                        <div class="time">{{i.created_dt|timesince}} ago</div>

                        <div class="content">

                            <a data-href="{% pp_url template='user_profile.html' object=i.subscriber %}">
                                 {% pp_get_sources object=i.subscriber type='img' %}
                                    {% if pp_source.cur_img %}
                                        {% thumbnail pp_source.cur_img.file "100x100" crop="center" as im %}
                                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                        {% endthumbnail %}
                                    {% else %}
                                        <img src="/static/img/faux_logo.png">
                                    {% endif %}
                                {% endpp_get_sources %}

                        </div>
                        <div class="username">
                            <a data-href="{% pp_url template='user_profile.html' object=i.subscriber %}">
                                {{i.subscriber.username}}
                            </a>
                        </div>

                </div>

            {% endpp_get_avatar %}
        {% endfor %}
    {% endpp_get_subscribers_for_user %}

    {% pp_get_subscribees_for_user user=object start=start end=end %}

            {% for i in pp_subscription.subscribees %}
                <div class="notitem itrust">

                    <p style="display:none;" class="sorttime"> {{i.created_dt|date:"U" }}</p>

                    <span class="user_icon"><i class="icon-user"></i></span>
                    <div class="time">{{i.created_dt|timesince}} ago</div>

                    <div class="content">

                        <a data-href="{% pp_url template='user_profile.html' object=i.subscribee %}">
                             {% pp_get_sources object=i.subscribee type='img' %}
                                {% if pp_source.cur_img %}
                                    {% thumbnail pp_source.cur_img.file "100x100" crop="center" as im %}
                                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                    {% endthumbnail %}
                                {% else %}
                                    <img src="/static/img/faux_logo.png">
                                {% endif %}
                            {% endpp_get_sources %}
                        </a>

                    </div>


                    <div class="username">
                        <a data-href="{% pp_url template='user_profile.html' object=i.subscribee %}">
                            {{i.subscribee.username}}
                        </a>
                    </div>


            </div>
            {% endfor %}
    {% endpp_get_subscribees_for_user %}
                        

    <!-- end .profile_follows -->