   

{% pp_get_reputation_events user=object start=start end=end %}
    {% for note in pp_reputation.reputation_events %}
        <div class="notitem activity">
            <p style="display:none;" class="time"> {{note.created_dt|date:"U" }}</p>
            <div class="content">

                    <a data-href="{{note.get_absolute_url}}">

                        <!-- this bunch of junk just turns out to be a piece of text -->
                        {% if note.related_object.text %}

                            {% pp_slice obj=note.related_object.text amt=30 %}
                                {% if note.related_object.text|length > 30 %}
                                    {{pp_tag.sliced}}[...]
                                {% else %}
                                    {{pp_tag.sliced}}
                                {% endif %}
                            {% endpp_slice %}

                        {% else %}

                            {% if note.related_object.content_object.summary %}
                            
                            {% pp_slice obj=note.related_object.content_object.summary amt=30 %}
                                {% if note.related_object.content_object.summary|length > 30 %}
                                    {{pp_tag.sliced}}[...]
                                {% else %}
                                    {{pp_tag.sliced}}
                                {% endif %}
                            {% endpp_slice %}      
                                                                      
                            {% else %}
                                {% if note.related_object %}

                                    {% pp_slice obj=note.related_object amt=30 %}
                                        {% if note.related_object|length > 30 %}
                                            {{pp_tag.sliced}}[...]
                                        {% else %}
                                            {{pp_tag.sliced}}
                                        {% endif %}
                                    {% endpp_slice %}  
                                {% else %}
                                  ERR
                                {% endif %}  
                            {% endif %}
                        {% endif %}
                    </a>
            </div>
            <div class="time">{{note.created_dt}}</div>
        </div>
    {% endfor %} 

{% endpp_get_reputation_events %}
