Pillow==1.7.5
python-memcached==1.48
pymongo
django-mongodb-engine==0.4.0
hg+http://bitbucket.org/wkornewald/django-nonrel#egg=Django
hg+http://bitbucket.org/wkornewald/djangotoolbox#egg=djangotoolbox
hg+http://bitbucket.org/fragro/django-customtags-lib#egg=customtags
hg+http://bitbucket.org/legutierr/django-tagging-multidb#egg=tagging
hg+http://bitbucket.org/offline/django-annoying#egg=annoying
hg+http://bitbucket.org/fragro/python-markdown#egg=markdown
hg+http://bitbucket.org/twanschik/django-autoload#egg=autoload
hg+http://bitbucket.org/wkornewald/django-dbindexer#egg=dbindexer
hg+http://bitbucket.org/wkornewald/django-filetransfers#egg=filetransfers
oauth2
httplib2
python-openid
simplejson
hg+http://bitbucket.org/carljm/django-markitup#egg=markitup
hg+http://bitbucket.org/twanschik/nonrel-search#egg=search
git+http://github.com/shelfworthy/minidetector.git#egg=minidetector