{% extends 'skeleton/page.html' %}


{% load sourcetags %}
{% load cani %}
{% load groups %}


{% block content %}

{% cani object=object user=user %}
        {% if pp_permissions.permission %}
          {% pp_get_contenttype_id object=object %}
            <a id="avatar" data-href="/p/upload/o-{{object.pk}}/t-{{pp_source.ctype_pk}}">
          {% endpp_get_contenttype_id %}

        {% else %}

            <a>

        {% endif %}
    {% endcani %}  

            {% include 'etc/object_img_100.html' %}
            </a>

    {% if not object.parent.summary == '__NULL__' %}

    <h3><a data-href="{{object.parent.get_absolute_url}}">{{object.parent.summary}}</a></h3>

    {% endif %}

    <h1>{{object.summary}}</h1>

    <!--changing image power of facilitator -->
    

         <div id="group_stats">
            {{pp_topic.count}} Member{{pp_topic.count|pluralize}} | 
                     {% oa_get_group_settings object=object %}
                 {% if pp_topic.settings.open_group %}Open{% else %}Closed{% endif %} Group |
                 {{ pp_topic.settings.percent_reporting|percent}} Reporting | 
                 {{ pp_topic.settings.consensus_percentage|percent}} Consensus | 
                     {% endoa_get_group_settings %}
             {{object.children}} Proposals
         </div>

                <div style="display:block;">
                    <h3>Mission</h3>
                    {{object.description|markdown }}
                </div>

            {% cani object=object user=user %}
                {% if pp_permissions.permission %}

                    <a class="btn btn_blue" style="margin-right:10px;" data-href="{% pp_url object=object template='interact.html' %}">Facilitate</a>

                    {% if object.parent.summary == '__NULL__' %}
                        <a class="btn btn_blue" style="margin-right:10px;" data-href="{% pp_url object=object template='create_group.html' %}">Create Affinity Group</a>
                    {% endif %}
     
                {% endif %}
            {% endcani %}
                <a class="btn btn_green" style="margin-right:10px;" data-href="{% pp_url template='submit.html' dimension='tem' object=object %}">Ask a Question</a>

        {% if object.parent.summary == '__NULL__' %}

                {% include 'forms/oa_addgroup_form.html' %}

        {% else %}

            {% pp_check_siblings object=object.parent user=user %}

                {% if not pp_topic.ingroup %}

                    {% include 'forms/oa_addgroup_form.html' %}

                {% else %}
                <div>
                You are already a member of visioning group <a data-href="{{pp_topic.group.get_absolute_url}}">{{pp_topic.group.summary}}</a>. For the National Gathering you can only join 1 visioning group.
                </div>

                {% endif %}

            {% endpp_check_siblings %}


        {% endif %}
                <div>
                {% pp_get_topic_list topic=object %}
                    {% if pp_topic.count > 0 %}
                        <b>Affinity Groups</b>
                        <ul>
                            {% if pp_topic.topic_list %}

                                {% for topic in pp_topic.topic_list %}
                                    <li><a data-href="{{topic.get_absolute_url}}">{{topic.summary}}</a></li>
                                {% endfor %}
                                </ul>

                            {% endif %}
                    {% endif %}

                {% endpp_get_topic_list %}   
                </div>

                <div>
                {% pp_get_questions object=object dimension="n" start=0 end=10 phase="issues" %}
                <b>{{pp_blob.count}} Proposals</b>
                        {% if pp_blob.count > 0 %}
                        <ul id="user_contribs_list">
                            {% for object in pp_blob.blob_list %}
                                <li>
                                <a data-href="{% pp_url object=object.content_object template='detail.html' %}">
                                    {{object.content_object.summary }}
                                </a>
                                </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if pp_blob.count > 10 %}

                        {% endif %}
                {% endpp_get_questions %}
                </div>

        {% oa_mygroup_users object=object start=start end=end %}

            <div style="display:block;"><b>{{pp_topic.count}} Member{{pp_topic.count|pluralize}}</b></div>
                <ul id="user_contribs_list">
                {% for mygroup in pp_topic.groups %}
                    <li>
                    <a data-href="{% pp_url template='user_profile.html' object=mygroup.user %}">{{mygroup.user}}</a>
                    </li>
                {% endfor %}
                </ul>

            {% has_permissions object=object name='facilitator-permission' %}

                <div style="display:block;"><b>{{pp_permissions.count}} Facilitator{{pp_permissions.count|pluralize}}</b></div>
                    <ul id="user_contribs_list">

                    {% for mygroup in pp_permissions.permissions %}
                        <li><a data-href="{% pp_url template='user_profile.html' object=mygroup.user %}">{{mygroup.user}}</a></li>
                    {% endfor %}
                    </ul>
                
            {% endhas_permissions %}       

        {% endoa_mygroup_users %}        
    

{% endblock %}