html, body {
	background:#f4f4f4 url(../images/noisy.png) 0 0 repeat;
	margin:0;
	padding:0;
	font:90%/1.8em Georgia;
}
a:link, 
a:visited {
	color:#bd0000;
	text-decoration:none;
}
a:hover, 
a:focus {
	border-bottom:1px dashed #333;
}
#logo {
	margin:.7em auto;
	font-family: 'Cabin Sketch', serif;
	font-size: 100px;
	font-style: normal;
	text-align:center;
	width:800px;
}
h2 {
	clear:both;
	margin:1.2em auto .5em auto;
	font-family: 'Cabin Sketch', serif;
	font-size:55px;
	font-style: normal;
	text-align:center;
	width:800px;
}
#imggallery a:hover, 
#imggallery a:focus {
	border-bottom:0;
}
#imggallery img {
	margin:.5em 1.2em .5em 1.2em;
	padding:.5em;
	border:4px solid #333;
}
#container {
	margin:1.2em auto;
	width:800px;
	text-align:center;
}
#container p {
	margin-bottom:1.5em;
}
#demos {
	margin:4.9em 0 0 5em;
	height:2em;
}
#demos li {
	float:left;
	list-style:none;
}
.demo_button:link, 
.demo_button:visited {
	background-color:#bd0000;
	color:#fff;
	margin-left:.7em;
	padding:.7em;
	text-decoration:none;
	border-radius:5px;
}
.demo_button:hover, 
.demo_button:focus {
	background-color:#333;
}
#footer {
	clear:both;
	padding-top:2em;
}
#simplebox, 
#img_preview, 
#poem, 
#dialog, 
#registration {
	display:none;
}
#poem, 
#dialog {
	background-color:#fff;
	padding:.5em;
	border:5px solid #e0e0e0;
	width:30em;
}
#poem h2 {
	text-align:left;
	font-family:Georgia;
	font-size:18px;
}
form, 
#img_preview  {
	background-color:#fff;
	padding:.5em;
	border:5px solid #e0e0e0;
}
form h1 {
	color:#525252;
	margin-top:0;
	font-size:21px;	
}
fieldset {
	margin-bottom:.5em;
}
label {
	display:inline-block;
	width:85px;
}
/* simplebox css */
#simplebox_wrapper {
	background-color:#333;
	background-color:rgba(51, 51, 51, 0.5);
	background-color:hsla(0, 0%, 20%, 0.5);
	position:absolute;
	top:0;
	left:0;
	z-index:9999;
}
#close_simplebox {
	position:absolute;
	background:transparent url(../images/close_round.png) 0 0 no-repeat;
	margin-top:-25px;
	border:0;
	width:30px;
	height:30px;
	text-indent:-99999em;
	cursor:pointer;
	cursor:hand;
}
.ie7 #close_simplebox {
	margin-left:40em;
}

#registration_simplebox  {
    display:none;
    background-color:#fff;
}
