{% load blobtags %}
{% load sourcetags %}
    {% pp_blob_form POST=request.POST user=user dimension=object.get_child_blob_key parent=object %}
    <form id="pp_blob_child" method="post" action="">
    <div style='display:none'><input type='hidden' name='form_id' value="pp_blob_child" /></div>
    
            {% for field in pp_blob.form %}
            {% if field.html_name == 'parent' and pp_blob.parent_summary or field.html_name == 'form_id'%}

            {% else %}
            <p>
            <div style="float:left;"><b>{{field.label_tag}}</b>:{{ field }}{% if field.errors %}{% for err in field.errors %}<b style="color:red;">{{ err }}</b>{% endfor %}{% else %}{% endif %}</div>
            </p>
            {% endif %}
            {% endfor %}
        {{csrf_string|safe}}
        <p style="float:left;"><input type="submit" class="button" value="Submit" /><span style="color:grey;" id="submit_pp_blob_child"></span></p>

    </form> 
    {% pp_get_contenttype_id object=pp_blob.object %}
    <span id="pp_blob_child_side_effect" style="display:none;">["{{pp_blob.object.pk}}", "{{pp_source.ctype_pk}}"]</span>

<script language="javascript">

    $(document).ready(function()    {
       $('#pp_blob_child #id_description').markItUp(mySettings);
    });


  $("form#pp_blob_child").submit(function(e){
        $("#submit_pp_blob_child").html("<b>Submitting...</b>")
        success = addObject(e);
    });

</script>  

    {% endpp_get_contenttype_id %}

    {% endpp_blob_form %}