{% block content %}


<h2 id="about" >Who's behind Open Assembly</h2>

        <p>
        Open Assembly began as <a href="http://code.google.com/p/pirate-politics/">pirate-politics</a>, an open source political organization framework for the American Pirate Party, a now defunct attempt at forming a political party on the internet through <a href="http://www.reddit.com">Reddit</a>
        <ul>
        <li><h2>Frank Grove</h2>
                <ul style="list-style:none;">
                <li><img src="/static/img/promo/frank.jpg"></li>
                <li><h3>Lead Developer</h3></li>
                <li>Frank Grove is a MS student at the University of Tulsa who develops collective intelligence/decision systems and specializes in Python/Django.</li>
                </ul>
        </li>
        <li><h2>Cory Simmons</h2>
                <ul style="list-style:none;">
                <li><img src="/static/img/promo/cory.jpg"></li>
                <li><h3>Designer @ <a href="http://pressedweb.com/">Pressed Web</a></h3> </li>
                <li>Cory Simmons is a web-designer/developer from Ironton, OH who specializes in UX design and desperately wants to change the world for the better.</li>
                </ul>                
        </li>
        </ul>
        </p>
<h3>Acknowledgement</h3>
        <p>
        <i style="font-size:80%;">This material is based upon work supported by NSF under Award No. DGE-1009425.  NSF support is provided through the Graduate Research Fellowship Program whereby Mr. Grove was selected and named an NSF Graduate Research Fellow.  Any opinions, findings, and conclusions or recommendations expressed on this website are those of the author/developer and do not necessarily reflect the views of the National Science Foundation.</i>
        </p>

{% endblock %}