


<h2>What information do we collect?,</h2>
<p>
We collect information from you when you interact with Open Assembly. When creating an account we store your email address and other information you may input. All visitors to the site will have their IP address recorded.
Further, like most websites, we use cookies to enhance your experience, gather general visitor information, and track visits to our website. Please refer to the "do we use cookies?" section below for information about cookies and how we use them.
</p>
<h2>How do we use your information?</h2>
<p>
Any of the information that we collect may be used for research proposes and to improve Open Assembly. Your voting and any information you have made public may be used anonymously in this research. Your data will be de-identified, meaning that there will be no way to link that
anonymous information to your account because the data is aggregated into statistical groups.
<p>
<h2>How do we protect your information?</h2>
<p>
We implement a variety of security measures to maintain the safety of your personal information. Only trusted administrators have access
to the database, only public information is accessible, and this is only accessed for debugging purposes.
</p>
<h2>
Do we use cookies?
</h2>
<p>
Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your web browser (if you allow) that enables the sites or service providers systems to recognize your browser and capture and remember certain information.
In order to offer you a better site experience, we use cookies to understand and save your preferences for future visits and to compile aggregate data about site traffic.
</p>
<h2>
Do we disclose any information to outside parties?
</h2>
<p>
We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our website, conducting research, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others' rights, property, or safety.
</p>
<h2>
Third party links
</h2>
<p>
Occasionally, at our discretion, we may include links to third party websites. These third party sites have separate and independent privacy policies. We, therefore, have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.
</p>
<h2>
Your consent
</h2>
<p>
By using our site, you consent to our privacy policy.
In compliance with our obligations to the Institutional Review Board for Human Subjects, we reserve the right to remove, at any time, any content that we deem objectionable in any way, or which creates any physical, legal, social, or psychological risk to individuals.
</p>