
{% load pp_url %}
{% load argumenttags %}
{% load messagetags %}
{% load profiletags %}
{% load topictags %}
{% load reputationtags %}
{% load notificationtags %}
{% load markup %}
{% load badgetags %}
{% load consensustags %}
{% load subscriptiontags %}
{% load sourcetags %}
{% load filetransfers %}
{% load tag_helpers %}
{% load commenttags %}
{% load blobtags %}

{% block extra-head %}

  <script type="text/javascript">

    $(document).ready(function(){


    {% pp_consensus_get object=object.id %}   
    
        $('#bookmark_system ul').sortable({
            tolerance: 'pointer',
            opacity: .5,
            connectWith: '#bookmark_system ul',
            update: function(event, ui) {
                var result = $('#bookmark_system ul').sortable('toArray');
                var pk = '{{pp_consensus.consensus.pk}}';
                $.post("/set_ranked_vote/", {ranked_list: result.toString(), object_pk: pk},
                    function(data) {
                        //alert(data['FAIL']);
                        var ranking = 1;
                        for(var pg in data.rvote){
                            var st = '#rank' + String(data.rvote[pg]);
                            $(st).html('#' + String(ranking));
                            ranking = ranking + 1;
                            $('#changed').html('<b>' + data.now + '</b>');
                        }
                    }, "json");                                

            }
        }); 
  

    {% if pp_consensus.consensus %}
          {% pp_rating_js object=object user=user cons=pp_consensus.consensus %}

           {{pp_consensus.rating_js|safe}} 

          {% endpp_rating_js %}

          {% pp_spectrum_js object=object user=user cons=pp_consensus.consensus %}

           {{pp_consensus.spectrum_js|safe}}

          {% endpp_spectrum_js %}

    {% endif %}

     });
    
{% endpp_consensus_get %}

    </script>

{% endblock %}


{% block content %}
                   {% pp_consensus_get object=object.pk user=user %}
                       <div class="listing">
                            <div class="interest">
                                <span class="category">{{pp_consensus.consensus.content_object.get_verbose_name|title}}</span>
                                <span class="points">
                                    {% if pp_consensus.consensus.interest == 0 %}
                                        -
                                    {% else %}
                                        {{pp_consensus.consensus.interest|floatformat:0 }}
                                    {% endif %}
                                </span>
                                <span class="word">interest</span>
                            </div>
                            <div class="overview">
                                <span class="summary">
                                    <a href="{% pp_url object=object template='detail.html' %}"><b>{{object.summary}}</b></a>
                                </span>

                                <br>

                                <span class="meta">by <a href="{% pp_url template='user_profile.html' object=object.user %}">{{object.user.username}}</a> - {{object.created_dt|date:"m/d/Y h:sA"}}</span>

                                    <p>
                                    <!-- For the film genome project -->
                                    {% if object.video %}

                                    {% pp_get_iframe_video object=object %}

                                    <div id="video" class="viewer" style="width: 600px; height: 380px;"><iframe frameborder="0" id="videoWindow" scrolling="no" style="width: 600px; height: 380px; z-index: 5;" src="{{object.video.filename}}_iframe.html"></iframe></div>

                                    <script src="/static/html5_video_voting/javascripts/embed.js"></script>
                                    <script>

                                        $('#video').poptastic({
                                            'video_id' : {{object.video.video_id}},
                                            'autoplay' : false,
                                            'width'    : 600,
                                            'height'   : 340,
                                        });
                                        $('#links a').click(function (e) {
                                            e.preventDefault;
                                            $('.viewer').hide();
                                            var selected = $(this).attr('class');
                                            $('#links a').removeClass('current');
                                            $('#' + selected).show();
                                            $(this).addClass('current');
                                        });
                                    </script>

                                    <h2>Press spacebar to vote on your favorite scenes</h2>

                                    {% endpp_get_iframe_video %}

                                    {% endif %}
                                    </p>
                                    <p>
                                        {{object.description|markdown }}
                                    </p>

                                    <div>
                                        {% if object.location %}
                                        <ul class="tags">
                                            <li class="title"><b>Location:</b></li>
                                            <li>{{object.location}}</li>
                                        </ul><br>
                                        {% endif %}

                                        {% if object.target %}
                                        <ul class="tags">
                                            <li class="title"><b>Boycott Target:</b></li>
                                            <li>{{object.target}}</li>
                                        </ul><br>
                                        {% endif %}

                                    </div>

                                    <div id="urlsource">
                                    {% include 'urlsource.html' %}
                                    </div>
                        
                 {% if object.pad %}
                        <h2>Wiki</h2>
                        <div id="pad"></div>
                        {% if user.is_authenticated %}
                            <script>
                                    $(document).ready(function(){

                                $('#pad').pad({'padId':'{{object.pk}}', 'host':'http://107.20.139.148:9001','showChat':'true','baseUrl':'/p/', 'showControls':'true', 'showLineNumbers':'false','userName' : '{{user.username}}'});

                            });
                            </script>
                        {% else %}
                        <div id="pad"></div>
                        {% pp_get_pad object=object %}
                            {{pp_source.text|safe}}
                        {% endpp_get_pad %}
                        {% endif %}
                 {% endif %}                            
                            
                 <!--Flags are offline for the moment -->
                 {% comment %}
                    <ul class="sources">
                        <li class="title">Flags:</li>
                        {% pp_get_flags object=object user=user %}
                            {% for flag, upimg, downimg in pp_flag.flags %}
                        <li><div style="width:45%;">{{flag.votes}}-{{flag.flag_type}}<a><img src='/static/voteimgs/vote_down_{{downimg}}.gif'></a><a><img src='/static/voteimgs/vote_up_{{upimg}}.gif'></a></div></li>
                            {% endfor %}

                        {% endpp_get_flags %}
                    </ul>   
                 {% endcomment %}
                            <table cellspacing="0" class="rating">
                                <tbody>
                                    <tr>
                                        <td id="temp_check">
                                        </td>
                                        <td style="margin-top:11px;">
                                            <h2>Vote <span style="font-size:80%;" id="spectrum_vote"></span></h2>
                                            <b>Agreement: <span id="stars-cap-spec"></span></div></b><br>

                                            {% pp_spectrum_form object=object user=user %}

                                            <form method="post" action="">

                                                <div id="stars-wrapper-spec{{object.id}}">

                                                {{pp_consensus.form.spectrum}}
                                                {{pp_consensus.form.form_id}}
                                                </div>
                                                {{csrf_string|safe}}

                                            <noscript><input type="submit" class='button green' value="Rating"></noscript>

                                            </form>
                                            {% endpp_spectrum_form %}
                                            
                                        </td>
                                        <td>
                                            <br><b>Informative: <span id="stars-cap-rate"></span></b><br>
                                            {% pp_rating_form object=object user=user %}

                                            <form method="post" action="">

                                                <div id="stars-wrapper-rate{{object.id}}">
                                                
                                                {{ pp_consensus.form.rating}}
                                                {{pp_consensus.form.form_id}}
                                                </div>
                                                
                                                {{csrf_string|safe}}

                                            <noscript><input type="submit" class='button green' value="Rating"> </noscript>

                                            </form>
                                            {% endpp_rating_form %}
                                        </td>
                                        <td>
                                         {% comment %}
                                            <b><abbr title="Add other Flags to this submission to call out hyperbole, logical fallacies, or other erroneous issues.">Flag</abbr>:</b><br>
                                            {% if user.is_authenticated and user.is_active %}

                                            {% pp_flag_form object=object POST=request.POST user=user PATH_INFO=request.META.PATH_INFO QUERY_STRING=request.META.QUERY_STRING %}

                                            <form method="post" action="">

                                                {{ pp_flag.form.flag}}
                                                {{pp_flag.form.form_id}}
                                                {{csrf_string|safe}}

                                            <input type="submit" class='button grey' value="Flag"> 
                                            </form>
                                            {% endpp_flag_form %}

                                            {% endif %}
                                            {% endcomment %}
                                        </td>
                                        <td>
                {% pp_get_ranked_decision object=pp_consensus.consensus %}
                    {% oa_get_group_settings object=object.parent %}

                    {% if not pp_consensus.ranked_decision %}
                            {% ifequal object.user user %}
                            <b>Author Controls:</b><br>

                                <a class="button" style="height:24px;margin-right:10px;" href="{% pp_url template='submit.html' object=object dimension='edit' %}"><img src="/static/img/edit.png">Edit</a>
                                {% endifequal %}
                                {% if object.user == user or user.is_staff %}

                                <span style="padding:5px;border:dotted;">
                                <span style="cursor: pointer; height:24px;cursor: hand" class="red button" onClick="checkDelete('{{pp_consensus.consensus.content_type.pk}}', '{{object.pk}}');">
                                    <img src="/static/img/recycle.png"> Delete</span>

                                    <input id="nukecheck" type="checkbox" name="vehicle" value="Deleted" />Sure?
                                </span>
                                {% endif %}
                                {% pp_get_root object=object %} 
                                    {% if pp_topic.root %}
                                        {% pp_get_reporting_percentage object=object group=pp_topic.root %}
                                            {% if pp_topic.settings.reporting_percent > pp_consensus.reporting %}
                                                <h3 style="color:#56e110;">Currently Reporting: {{pp_consensus.reporting|percent}}</h3><br>
                                            {% else %}
                                                <h3>Currently Reporting: {{pp_consensus.reporting|percent}}</h3><br>
                                            {% endif %}               
                                        {% endpp_get_reporting_percentage %}
                                    {% endif %}
                                {% endpp_get_root %}
                            </td>
                                         
                    {% endif %}

                                    </tr>
                                </tbody>
                            </table>
                            <table cellspacing="0" class="rating">
                                <tbody>
                                    <tr>
                                    </tr>
                                </tbody>
                            </table>
                    {% if pp_consensus.ranked_decision %}
                                {% if pp_topic.settings.consensus_percentage > pp_consensus.ranked_decision.consensus_percent or pp_topic.settings.percent_reporting > pp_consensus.ranked_decision.reporting_percent %}
                            <div style="width:32px;float:left;"><img src="/static/img/failed.jpg"></div>

                                <div class="decision_report">
                                    <b>Failed</b> - 
                                {% else %}
                            <div style="width:32px;float:left;"><img src="/static/img/collab.jpg"></div>

                                <div class="decision_report">
                                    <b>Passed</b> - 
                                {% endif %}
                                    {% if pp_topic.settings.consensus_percentage < pp_consensus.ranked_decision.consensus_percent %}
                                        <b style="color:#56e110;">
                                    {% else %}
                                        <b style="color:#e11010">
                                    {% endif %}
                                    {{ pp_consensus.ranked_decision.consensus_percent|percent }} Consensus</b> - 
                                    
                                    {% if pp_topic.settings.percent_reporting < pp_consensus.ranked_decision.reporting_percent %}
                                        <b style="color:#56e110;">
                                    {% else %}
                                        <b style="color:#e11010">
                                    {% endif %}
                                    {{ pp_consensus.ranked_decision.reporting_percent|percent }} Reported</b>
                                    ({{pp_consensus.ranked_decision.submit_date|date:"jS F Y H:i"}})
                                    </div>
                        {% endif %}
                            </div>
                        </div>
                    </div>


                {% if pp_consensus.consensus.phase.curphase.phasename == 'Nomination' and object.children != 1 %}

                <h3>{{object.forumdimension.name}} Nomination{{pp_blob.count|pluralize}} ({{object.children}})</h3>

                    {% pp_get_questions object=object dimension="r" phase="Nomination" %}
                    
                    <div id="children_details" class="children_details">

                     <ul class="recent_activity_holder">         
                            <li id="bookmark_system">
                        
                                {% if object.children > 0 %}
                                <div style="padding-bottom:10px;">

                                {% pp_get_ranked_vote object=pp_consensus.consensus user=user %}

                                </div>
                                <ul id="nominated">


                                        {% if pp_consensus.ranked_vote %}
                                    
                                            {% for object,ranked_vote in pp_consensus.objects %}

                                                {% include 'listing_ranked_shell.html' %}

                                            {% endfor %}

                                        {% else %}

                                            {% for object in pp_blob.blob_list %}
                                                
                                                {% include 'listing_ranked_shell.html' %}

                                            {% endfor %}

                                        {% endif %}
                        
                            </li>
                            </ul>
                            <span style="float:right;">
                                {% if not pp_consensus.confirmranked %}
                                <span id="confirm_button"><a class="green btn_gen" style="margin-left:20px;" onClick="ranked_vote_confirm('{{pp_consensus.consensus.pk}}', true);">Confirm Your Ranked Vote</a></span>
                                {% else %}
                                <span id="confirm_button"><a class="red btn_gen" style="margin-left:20px;" onClick="ranked_vote_confirm('{{pp_consensus.consensus.pk}}', false);">Cancel Your Ranked Vote</a></span>
                                {% endif %}
                            </span>
                            <div style="padding-top:10px;float:right;" id="changed">
                            </div>

                        {% endpp_get_ranked_vote %}

                    {% endif %}

                {% endpp_get_questions %}
                                                            

                        </li>
                    </ul>
                    </div>
                    {% else %}
                    {% if pp_consensus.consensus.phase.curphase.phasename == 'Question' or pp_consensus.consensus.phase.curphase.phasename == 'Decision' or object.children == 1 %}
                            {% pp_get_questions object=object dimension="r" phase="Nomination" %}

                            <h3>{{object.forumdimension.name}} Nomination{{pp_blob.count|pluralize}} ({{object.children}})</h3>

                                <div id="children_details" class="children_details">
                                    {% for object in pp_blob.blob_list %}
                                        {% include 'listing_child.html' %}
                                    {% endfor %}
                            {% endpp_get_questions %}
                                </div>

                            {% endif %}
                        {% endif %}
                    {% endoa_get_group_settings %}

                {% endpp_get_ranked_decision %}
                            <div class="forms">
                               {% comment %}
                                <div class="socialhooks">
                                {% pp_get_url object=object safe='True' dimension=dimension url=request.path|cut:"/" %}
                                    <!-- AddThis Button BEGIN -->
                                    <div class="addthis_toolbox addthis_default_style ">
                                        <a class="addthis_button_preferred_1"></a>
                                        <a class="addthis_button_preferred_2"></a>
                                        <a class="addthis_button_preferred_3"></a>
                                        <a class="addthis_button_preferred_4"></a>
                                        <a class="addthis_button_compact"></a>
                                    </div>

                                    <script>
                                        $(document).ready(function(){
                                            var script = 'http://s7.addthis.com/js/250/addthis_widget.js#domready=1';
                                            if ( window.addthis ) {
                                                window.addthis = null;
                                            }
                                            $.getScript( script );
                                    });
                                    </script>
                                    <!-- AddThis Button END -->
                                {% endpp_get_url %}
                                </div>
                                {% endcomment %}
                                <div>

                                    <h2 class="acc_trigger"><a href="#"><img src="/static/img/comment.jpg">Comment</a></h2>
                                    <div class="acc_container">
                                        <div class="block">
                                           <div id="pp_comment_form" class="reply_comment"></div>
                                        </div>
                                    </div>
                        {% pp_get_root object=object %} 
                            {% oa_get_group_settings object=pp_topic.root %}
                            
                            {% oa_ingroup object=object user=user %}
  
                                {% if pp_topic.settings.open_group or pp_topic.in_group %}
           
                                    <h2 class="acc_trigger"><a href="#"><img src="/static/img/agree.jpg">Write an Argument Supporting {{pp_consensus.consensus.content_object.get_verbose_name|title}}</a></h2>
                                    <div class="acc_container">
                                        <div class="block">
                                            <div id="pp_argument_form_yea" class="reply_comment>"></div>
                                        </div>
                                    </div>

                                    <h2 class="acc_trigger"><a href="#"><img src="/static/img/disagree.jpg">Write an Argument Against {{pp_consensus.consensus.content_object.get_verbose_name|title}}</a></h2>
                                    <div class="acc_container">
                                        <div class="block">
                                            <div id="pp_argument_form_nay" class="reply_comment"></div>
                                        </div>
                                    </div>

                                    <h2 class="acc_trigger"><a href="#"><img src="/static/img/info.jpg">Add Sources/Citations or Tags</a></h2>
                                    <div class="acc_container">
                                        <div class="block">
                                            <div id="pp_tagsource_form" class="reply_comment"></div>
                                            <div id="pp_tag_form">
                                            </div>
                                            <div id="pp_urlsource_form">
                                            </div>
                                        </div>
                                    </div>
                                 {% if object.child and pp_consensus.consensus.phase.curphase.phasename == 'Question' %}
                                    <h2 class="acc_trigger"><a href="#"><img src="/static/img/idea.jpg">Nominate a {{object.forumdimension.name|title}} To Be Voted On</a></h2>
                                    <div class="acc_container">
                                        <div class="block">
                                            <div id="pp_blob_child" class="reply_comment">
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                            {% endif %}
                            {% endoa_ingroup %}

                            {% endoa_get_group_settings %}
                        {% endpp_get_root %}
                                </div>
                            </div>
                        </div>
                        {% endpp_consensus_get %}
                        <!-- Social Hooks -->
                        
                        <!-- Comments AJAX For Accordion-->
                          <script>
                          $(document).ready(function() {
                            //Set default open/close settings
                            $('.acc_container').hide(); //Hide/close all containers
                            $('.acc_trigger:first').addClass('active').next().show(); //Add "active" class to first trigger, then show/open the immediate next container
                            //On Click
                            $('.acc_trigger').click(function(){
                                if( $(this).next().is(':hidden') ) { //If immediate next container is closed...
                                    $('.acc_trigger').removeClass('active').next().slideUp(); //Remove all "active" state and slide up the immediate next container
                                    $(this).toggleClass('active').next().slideDown(); //Add "active" state to clicked trigger and slide down the immediate next container
                                }
                                return false; //Prevent the browser jump to the link anchor
                            });
                          });
                          </script>

<h2 class="content_children_header">

    {% pp_comment_count object=object.id %}
        <img src="/static/img/comment.jpg"><a href="{% pp_url template='detail.html' object=object scroll_to='content_children' dimension='comments' %}">{{pp_comment.count}} Comments</a>  | 

    {% endpp_comment_count %}

    {% pp_get_argument_count object=object arg_type='yea' %}

        <img src="/static/img/agree.jpg"><a href="{% pp_url template='detail.html' object=object scroll_to='content_children' dimension='yea' %}">{{pp_argumentation.count}} Pros</a> | 

    {% endpp_get_argument_count %}

    {% pp_get_argument_count object=object arg_type='nay' %}

        <img src="/static/img/disagree.jpg"><a href="{% pp_url template='detail.html' object=object scroll_to='content_children' dimension='nay' %}">{{pp_argumentation.count}} Cons</a>

    {% endpp_get_argument_count %}

</h2>

    <div id="content_children" class= "content_children">
                                
                               
    </div>

</div>
<!-- end #content -->
{% comment %}
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4e743d0b5609a737"></script>
{% endcomment %}
{% endblock %}
