{% load sourcetags %}
{% load cani %}
{% load groups %}

    <div id="group">

    {% include 'facilitator.html' %}

    {% cani object=object user=user %}
        {% if pp_permissions.permission %}
 
          {% pp_get_contenttype_id object=object %}
            <a href="{% url pirate_sources.views.upload_handler object.pk pp_source.ctype_pk %}">
          {% endpp_get_contenttype_id %}

        {% else %}

            <a href="{{object.get_absolute_url}}">

        {% endif %}
    {% endcani %}  
        {% pp_get_sources object=object type='img' %}

            {% if pp_source.cur_img %}
                <img src="/media/{{pp_source.cur_img.thumbnail_large}}" alt="{{object.content_object.summary}}">
            {% else %}

                {% cani object=object user=user %}
                    {% if pp_permissions.permission %}
                        <img src="/static/img/group_header.jpg" alt="{{object.summary}}">
                    {% endif %}
                {% endcani %}

            {% endif %}
        {% endpp_get_sources %}
    </a>

        <div style="float:right;">
                <ul class="checkboxes">
                    <li> <h2>{{object.group_members}} Members</h2></li>
                    <li> <h2>{{object.children}} Ideas</h2></li>
                    <li><span id="addgroup"></span></li>
                 </ul>
            

        </div>
        
        <div id="container">

            
            <div class="platforms">


                 <div id="questions">

                {% pp_get_questions object=object dimension="n" phase="Question" %}

                    <h2>Question{{pp_blob.count|pluralize}} ({{pp_blob.count}})</h2>

                    <div id="children_details" class="children_details">
                        {% for object in pp_blob.blob_list %}
                            <a href="object.content_object.get_absolute_url"><h2>{{object.content_object.summary}}</h2></a>
                        {% endfor %}
                   </div>
                {% endpp_get_questions %}

            </div>
                <div class="platform">
                    {% oa_mygroup_users object=object %}

                        <h2>{{pp_topic.count}} Members</h2>
                        <p>
                            {% for mygroup in pp_topic.groups %}
                                {% include 'group_user.html' %}
                            {% endfor %}
                        </p>
                    {% endoa_mygroup_users %}       
                </div>
                <div class="platform">
                    {% has_permissions object=object name='facilitator-permission' %}

                        <h2>{{pp_permissions.count}} Facilitators</h2>
                        <p>
                            {% for mygroup in pp_permissions.permissions %}
                                {% include 'group_user.html' %}
                            {% endfor %}
                        </p>
                    {% endhas_permissions %}       
                </div>

            </div>
            
        </div>
        
    </div>
