<div class="landing">

{% comment %}
<div style="margin-left:15%;">
<iframe width="420" height="315" src="http://www.youtube.com/embed/B5P-N_ItaF8" frameborder="0" allowfullscreen></iframe>
</div>
{% endcomment %}

<img src="/static/img/promo/oa_top_banner.png">


<h2>Open Source Democracy</h2>
<p>Open Assembly is an Online Consensus Engine that allows groups to make decisions over the internet.</p>
<uL>
<li><h3>Temperature Check</h3><p>Find out the opinion of the group without making a formal decision</p></li>
<li><h3>Timed Decision</h3><p>Make a call for proposals, actions, or policies, set the decision time and make formal decisions for the group</p></li>
<li><h3>Open and Invitation Only Groups</h3><p>Open Groups to foster open discussion and closed groups to enact formal decisions. Facilitators can invite new users to the group after verifying identity with the group's own method</p></li>
<li><h3>Customizable Consensus and Quorum Requirements</h3><p>Your group can set the required percentage of consent as well as what percentage
of members must vote for a measure to pass</p></li>
<li><h3>Schulze Method Ranked Vote to Focus the Group</h3><p>Schulze is a powerful ranked voting method. OA currently features single and multi winner ranked voting combined</li>
<li><h3>Multi-dimensional Voting</h3><p>Citizens can vote on both their opinion and
the objective quality of an argument, question or proposal</p></li>
</ul>

<p>

<a style="float:left;" href="/p/tutorial" class="button">Tutorial</a>

<a style="margin-left:30%;" href="/register.html?" class="button">Register Account</a>

<a style="float:right;" href="/p/faq" class="button">FAQ</a>
</p>

{% comment %}
<p>
The Occupy Wall Street and Occupy Together Movement needs a General Assembly for the internet. Open Assembly is a website designed to help decentralized groups make decisions. Through innovative user verification mechanisms we will ensure that only those committed to real world activism have a voice. Together we can create policy ideas, vote on the best, and author a collaborative manifesto.
</p>

<h2>Online Working Groups</h2>
<h3><a href="/index.html#myplatform">Learn More</a></h3>
<p>
Online working groups give you the ability to form an Open Assembly in your area
with activists verified through referral. This allows you to quickly form a Group, and
can create subgroups as internal small working groups. You can create polls for the
group and focus the discussion with a platform election.
</p>

<h2>Build a Platform and Rally Together</h2>
<h3><a class="button" href="/p/myplatform">Learn More</a></h3>
<p>
The time has come to form a coherent message of
well crafted and deliberated ideas. To identify
the root of our problems and the corresponding solutions
we need a crowdsourced platform using the most
advanced voting methods available. Open Assembly achieves 
this with a platform election. This helps focus the 
group towards unifying specific goals the group can rally behind.
</p>

<h2>Verify One Human, One Vote</h2>
<h3><a href="/index.html#arpv">Learn More</a></h3>
<p>If we are going to develop an online platform, we have
to link the real world to the digital world. With "Anonymous Random Photo Verification"
we can assure that users are real people
willing to be active in the real world.
</p>

<h2>Updates</h2>
<h3>10/25/2011</h3>
<p>Groups are now open! You can create a Group and send the link to other users so they can join in and create ideas.
We are testing the first Platform Elections and Polling systems now, so soon Groups will be able to make decisions in a decentralized manner. Start a Group for your movement today!
</p>
<h3>10/17/2011</h3>
<p>OpenAssembly now features <a href="http://beta.etherpad.org/">EtherPad</a>, a collaborative document editor so you can easily create documents with other activists. Categories have become Groups, which will feature ways to poll group members, invite verified activists, and more!
</p>

{% endcomment %}

<img src="/static/img/promo/banner1.jpg">


<p>OpenAssembly is a non-partisan effort funded by the National Science Foundation and developed at the University of Tulsa with the aid of developers from around the world. The project initially started on Reddit.com almost 2 years ago as <a href="http://code.google.com/p/pirate-politics/wiki/History">pirate-politics</a><p>

</p>
<a href="http://en.wikipedia.org/wiki/Open_source"><img style="margin-left:45%;" src="/static/img/open_source.png"></a>


</div>