{% load pp_url %}
{% load topictags %}
{% load consensustags %}
{% load argumenttags %}
{% load commenttags %}
{% load tag_helpers %}
{% load sourcetags %}
{% load blobtags %}
{% load markup %}
{% if object.content_object.summary != None %}

<div class="listing">
    <div class="interest">
        <span class="category">{{object.content_object.get_verbose_name|title }}</span>
            <span class="points"> <a href="{{object.content_object.get_absolute_url}}">{{ object.votes }}</a></span>
            <span class="word">votes</span>
            <span id="votes{{object.pk}}" class="votes">
            </span>
    </div>
    <div class="summary">

        {% pp_get_sources object=object.content_object type='img' %}
            {% if pp_source.cur_img %}
                <img src="{{pp_source.cur_img.thumbnail.url}}" alt="{{object.content_object.summary}}">
            {% endif %}
        {% endpp_get_sources %}

        <b><a href="{% pp_url object=object.content_object template='detail.html' %}">
            {{object.content_object.summary }}
        </a></b> <span class="meta">by <a href="{% pp_url template='user_profile.html' object=object.content_object.user %}">{{ object.content_object.user.username }}</a> - {{object.content_object.created_dt}}</span><br>
            
              <div>
                <p>
                {% if object.content_object.description|length > 200 %}
                    {{object.content_object.description|slice:":200" }}[..]
                {% else %}
                    {{object.content_object.description}}
                {% endif %}
                </p>
              </div>
        <div class="info">
        {% if object.content_object.child != None %}
        {{object.content_object.children}} {{object.content_object.child|title}}{{object.content_object.children|pluralize}} and 
        {% endif %}
        {% pp_comment_count object=object.content_object.id %}
            {{ pp_comment.count }} Comment{{ pp_comment.count|pluralize}} and 
        {% endpp_comment_count %}
        {% pp_get_argument_count object=object.content_object %}
            {{pp_argumentation.count}} Argument{{pp_argumentation.count|pluralize}}
        {% endpp_get_argument_count %}

        </div>
        {% pp_get_tags_for_object object=object %}
            {% if pp_tag.tags|length > 0 %}
                <ul class="tags">
                      <li><b>Tags:</b></li>
                        {% for tag in pp_tag.tags %}
                            <li><a href="{% pp_url template='issues.html' object=tag start=0 end=20 dimension='hn' %}">{{tag.name}}</a></li>
                        {% endfor %}
                       </ul>
            {% endif %}
       {% endpp_get_tags_for_object %}

    {% pp_get_ranked_decision object=pp_consensus.consensus %}
        {% if pp_consensus.consensus.phasename == 'pass' or pp_consensus.consensus.phasename == 'fail' %}
        {% if object.pk in pp_consensus.ranked_decision.winner or not pp_consensus.consensus.winners %}
            {% oa_get_group_settings object=object.content_object.parent.parent %}
                <!--- if this was a winner, etc. -->
                    <span style="margin-left:10px;font-size:100%;">
                    {% if object.pk in pp_consensus.ranked_decision.winner %}
                            <b>Passed</b> - 
                    {% else %}
                        <b>Failed</b> - 
                    {% endif %}
                    {% if pp_topic.settings.consensus_percentage < object.consensus_percent %}
                        <b style="color:#56e110;">
                    {% else %}
                        <b style="color:#e11010">
                    {% endif %}
                    {{ object.consensus_percent|percent }} Consensus</b> - 
                    {% comment %}
                        {% if pp_topic.settings.percent_reporting < object.reporting_percent %}
                            <b style="color:#56e110;">
                        {% else %}
                            <b style="color:#e11010">
                        {% endif %}
                    {% endcomment %}
                    <b>
                    {{ object.reporting_percent|percent }} Reported</b>
                    </span>

                {% endoa_get_group_settings %}
        {% endif %}
        {% endif %}
    {% endpp_get_ranked_decision %}
    </div>



</div>
{% endif %}
