<li style="width:630px;" id="{{object.pk}}" class="nominated">
    <div class="listing">
     <div class="interest">
            <span class="category"><span id="rank{{object.pk}}">#{{ranked_vote.ranked_vote|floatformat:0 }}</span> Ranked</span>
            <span class="points"> <a href="{{object.get_absolute_url}}">{{ object.votes }}</a></span>
            <span class="word">votes</span>
            <span id="votes{{object.pk}}" class="votes">
            </span>
        </div>
                                                         
        {% include 'listing_ranked.html' %}
    </div>
</li>