{% load pp_url %}
{% load topictags %}
{% load consensustags %}
{% load argumenttags %}
{% load commenttags %}
{% load tag_helpers %}
{% load sourcetags %}
{% load blobtags %}
{% load markup %}
{% if object.content_object.summary != None %}

<div class="listing">
    <div class="interest">
        {% if not object.phase %}
            <span class="category">Temperature</span>
            <span class="points"><a href="{{object.get_absolute_url}}"><img src="/static/img/tempcheck.png"></a></span>
            <span class="word">Check</span>
        {% else %}
            {% if object.phasename == 'nom' %}
                    <span class="category">Timed</span>
                    <span class="points"><a href="{{object.get_absolute_url}}"><img src="/static/img/clock_voting.png"></a></span>
                    <span class="word">Nomination</span>
            {% endif %}
            {% if object.phasename == 'vote' %}
                    <span class="category">Timed</span>
                    <span class="points"><a href="{{object.get_absolute_url}}"><img src="/static/img/clock_incomplete.png"></a></span>
                    <span class="word">Voting</span>
            {% endif %}
            {% if object.phasename == 'pass' %}
                    <span class="category">Timed</span>
                    <span class="points"><a href="{{object.get_absolute_url}}"><img src="/static/img/clock_complete_pass.png"></a></span>
                    <span class="word">Passed</span>
            {% endif %}
            {% if object.phasename == 'fail' %}
                    <span class="category">Timed</span>
                    <span class="points"><a href="{{object.get_absolute_url}}"><img src="/static/img/clock_complete_fail.png"></a></span>
                    <span class="word">Failed</span>
            {% endif %}
        {% endif %}

        {% comment %}
        <span class="category">{{object.content_object.get_verbose_name|title }}</span>
        {% if request.dimension = 'c' %}
            <span class="points"><a href="{{object.get_absolute_url}}">{{ object.controversy|floatformat:0 }}</a></span>
            <span class="word">controversy</span>
        {% else %}
            <span class="points"> <a href="{{object.get_absolute_url}}">{{ object.interest|floatformat:0 }}</a></span>
            <span class="word">interest</span>
            <span id="votes{{object.pk}}" class="votes">
                
            </span>
        {% endif %}
        {% endcomment %}
    </div>
    <div class="summary">

        {% pp_get_sources object=object.content_object type='img' %}
            {% if pp_source.cur_img %}
                <img src="{{pp_source.cur_img.thumbnail.url}}" alt="{{object.content_object.summary}}">
            {% endif %}
        {% endpp_get_sources %}

        <b><a href="{% pp_url object=object.content_object template='detail.html' %}">
            {{object.content_object.summary }}
        </a></b> <span class="meta">by <a href="{% pp_url template='user_profile.html' object=object.content_object.user %}">{{ object.content_object.user.username }}</a> - {{object.content_object.created_dt}}</span><br>
            {% comment %}
              <div>
                <p>
                {% pp_slice obj=object.content_object.description amt=200 %}
                    {% if object.content_object.description|length > 200 %}
                        {{pp_tag.sliced|markdown}}[...]
                    {% else %}
                        {{pp_tag.sliced|markdown}}
                    {% endif %}
                {% endpp_slice %}
                </p>
              </div>
              {% endcomment %}
        <div class="info">
        {% if object.content_object.child != None %}
        {{object.content_object.children}} {{object.content_object.child|title}}{{object.content_object.children|pluralize}} and 
        {% endif %}
        {% pp_comment_count object=object.content_object.id %}
            {{ pp_comment.count }} Comment{{ pp_comment.count|pluralize}} and 
        {% endpp_comment_count %}
        {% pp_get_argument_count object=object.content_object %}
            {{pp_argumentation.count}} Argument{{pp_argumentation.count|pluralize}}
        {% endpp_get_argument_count %}
        </div>

{% pp_get_ranked_decision object=object %}

    {% pp_get_questions object=object.content_object dimension="r" start=0 end=5 phase="Nomination" %}
       {% if object.content_object.children > 0 %}
{% if object.phasename != 'pass' %}
        <h4>{{object.content_object.children}} {{object.content_object.child|title}}{{object.content_object.children|pluralize}}:</h4>
{% else %}
        <h4>Winner:</h4>

{% endif %}
        <ul class="solutions">
                {% for child in pp_blob.blob_list %}
                    {% pp_get_object model=object.content_object.child object_pk=child.object_pk %}

                      {% if object.phasename != 'pass' %}  <li style="font-size:80%;"><a style="color:black;" href="{% pp_url template='detail.html' object=pp_blob.content_object %}">{{pp_blob.content_object.summary}}</a></li>

                      {% else %} 
                        {% if child.pk in pp_consensus.ranked_decision.winner %}
                        <li style="font-size:80%;"><a style="color:black;" href="{% pp_url template='detail.html' object=pp_blob.content_object %}">{{pp_blob.content_object.summary}}</a></li>
                        {% endif %}
                      {% endif %}
                        
                    {% endpp_get_object %}

                {% endfor %}

            {% if object.content_object.children > 5 %}
                <li>...</li>
            {% endif %}
           </ul>   
                {% endif %}
           {% endpp_get_questions %}
    {% endpp_get_ranked_decision %}


        <ul class="tags" style="line-height:32px;">
        {% pp_get_tags_for_object object=object %}
            {% if pp_tag.tags|length > 0 %}
                <ul class="tags">
                      <li><b>Tags:</b></li>
                        {% for tag in pp_tag.tags %}
                            <li><a href="{% pp_url template='issues.html' object=tag start=0 end=20 dimension='hn' %}">{{tag.name}}</a></li>
                        {% endfor %}
                       </ul>
            {% endif %}
       {% endpp_get_tags_for_object %}

        </div>
    </div>
</div>
{% endif %}
