
        {% oa_get_group_settings object=object %}
        	{% if pp_topic.settings.stream %}
        		{% if pp_topic.settings.stream_provider = 'L' %}
            	<iframe src="http://cdn.livestream.com/embed/{{pp_topic.settings.stream}}?layout=2&autoPlay=true&width=630&height=500" width="630" height="500" style="border:0;outline:0" frameborder=0 scrolling=no></iframe>
            	{% endif %}
        		{% if pp_topic.settings.stream_provider = 'U' %}

            	<iframe width="630" height="500" src="http://www.ustream.tv/{{pp_topic.settings.stream}}" scrolling="no" frameborder="0" style="border: 0px none transparent;">    </iframe>
            	{% endif %}
            {% else %}
            <h1>No Livestream Active</h1>
            {% endif %}
        {% endoa_get_group_settings %}
