
{% load platformtags %}
{% load pp_url %}

{% block content %}
    {% if user.is_authenticated %}
    <h2>Create a New Platform Election</h2>
    {% if object %}
    <h3>For {{object.summary|title}}</h3>
    {% endif %}
    <p>
    Welcome Citizen Facilitator,

    You have chosen to create a new platform election!

    </p>

    {% pp_get_blob_subcontext dimension=dimension %}

                    {% pp_show_blobchoices object=object dimension=pp_blob.dimension user=user%}
                        <form>
                        <h1>Choose What Type of Platform Election You Desire:</h1>
                        {% for category, choices in pp_blob.choices %}
                            <select name="ctype" data-placeholder="Choose Content Type" id="id_ctype" style="width:350px;" class="chzn-select">
                                <option value="" ></option>
                            {% for name, link, dim in choices %}
                                    <option {% if dim == dimension %}selected="selected"{% endif %} value="{{dim}}" >{{name}}</option>
                            {% endfor %}
                            </select>
                        </form>
                        {% endfor %}

                        {% if dimension %}

                            <span id="pp_blob_form">

                                {% include 'oa_platform_form.html' %}
                            
                            </span>

                        {% endif %}

                    {% endpp_show_blobchoices %}

                {% endpp_get_blob_subcontext %}
               
    {% else %}

    <h2>BAD USER, BAD! NO! BAD USER!</h2>

    {% endif %}

<script type="text/javascript">

    $(function() {
        $(".datepicker").datepicker({ dateFormat: 'yy-mm-dd' });
    });

    $("#id_ctype").chosen().change(function() {
            //first add the help information to the right of the chosen bar
            $.get("/change_hash_dim/", { hash: location.hash, dim: $('#id_ctype option:selected').val() },
              function(data) {
                    if(data.FAIL != true){
                        location.hash = data.new_hash
                    }
             }, "json");  
            //alert($('#id_ctype option:selected').html());
            //then populate the page with the necessary form
         });
 </script>

{% endblock %}
