{% extends 'index.html' %}
{% load pp_url %}
{% load blobtags %}
{% load argumenttags %}
{% load messagetags %}
{% block title %}{% endblock %}
{% block browser_bar %}

{% endblock %}

{% block content%}

<div class="email_reset">
<img src="/static/oa_agent/oa_agent_wut.png"><br>
{% if form %}
<h2>Input Your New Password</h2> <br>
<form method="post" action="">
{% for field in form %}
    <p>
    <div style="float:left;">{% if field.errors %}{% for err in field.errors %}<b style="color:red;">{{ err }}</b>{% endfor %}{% endif %}</div>
    </p>

    <p>
    <b>{{field.label_tag}}{% if field.field.required %}<font color="red">*</font>{% endif %}:</b>
    {% if field.errors %}{% for err in field.errors %}<div style="color:#d90000;">{{ err }}</div>{% endfor %}{% else %}{% if not field.help_text %}<br>{% endif %}{% endif %}{{ field }}<br>{{field.help_text}}
	</p>
{% endfor %}
        {% csrf_token %}
<input type="submit" class="button green" value="Save">
</form>
{% endif %}
</div>


{% endblock %}
