<!--Requires a consensus object -->
{% load consensustags %}

{% pp_consensus_get object=object.pk %}

          {% pp_consensus_chart object=pp_consensus.consensus votecount=pp_consensus.count %}
             {{pp_consensus.consensus.chart_data }}

               {% if pp_consensus.chart %}
                  <script>
                  var chart1; // globally available
                  $(document).ready(function() {
                        chart1 = new Highcharts.Chart({
                           chart: {
                              renderTo: 'chart',
                              type: 'pie',
                           },
                           title: {
                              text: 'Temperature Check'
                           },
                           tooltip: {
                              formatter: function() {
                                 return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
                              }
                           },
                           yAxis: {
                              title: {
                                 text: 'Consensus'
                              }
                           },
                           plotOptions: {
                              pie: {
                                 allowPointSelect: true,
                                 cursor: 'pointer',
                                 dataLabels: {
                                    enabled: false
                                 },
                              }
                           },
                          credits: {
                              enabled: false
                          },
                           series: {{pp_consensus.chart_data|safe}},
                        });
                     });
                     </script>
                      <div id='chart'> Chart will be rendered here </div>
                      <div class=:>
                              <div><h2 style="margin-left:15px;">Avg. Quality Rating:</h2></div><div class="startext">

                              

                              {% if pp_consensus.mean_information %}
                                    <b>{{pp_consensus.mean_information|floatformat:"1"}}</b>
                                 {% else %} <b>---</b>
                              {% endif %}

                              </div>
                      </div>
                  {% endif %}
          {% endpp_consensus_chart %}

{% endpp_consensus_get %}