{% load topictags %}
{% load tag_helpers %}

<!--topic source -->

<div class="listing">
            <div class="interest">
                <span class="category">Group</span>

                {% if dimension == 'c' or dimension == 'n' %}
                    <span class="points"> <a href="{{object.get_absolute_url}}">{{ object.children }}</a></span>
                    <span class="word">ideas</span>
                {% else %}
                    <span class="points"> <a href="{{object.get_absolute_url}}">{{ object.group_members}}</a></span>
                    <span class="word">members</span>
                {% endif %}
            </div>
            <div class="summary"> <b><a href="{{object.get_absolute_url}}">{{ object.summary|title }}</a> </b> {% if object.more_info %} - <a href="{{object.more_info}}">more info</a>{% endif %}
                  <span class="img">
                {% cani object=object user=user %}
                    {% if pp_permissions.permission %}
                      {% pp_get_contenttype_id object=object %}
                        <a href="{% url pirate_sources.views.upload_handler object.pk pp_source.ctype_pk %}">
                      {% endpp_get_contenttype_id %}

                    {% else %}

                        <a>

                    {% endif %}
                {% endcani %}  
                    {% pp_get_sources object=object type='img' %}

                        {% if pp_source.cur_img %}
                            <img src="/media/{{pp_source.cur_img.thumbnail}}" alt="{{object.content_object.summary}}">
                        {% else %}
                           {# <img src="/static/img/group_header.jpg" alt="{{object.summary}}"> #}
                        {% endif %}
                    {% endpp_get_sources %}
                </a>
                </span>
                               
                <div>
                <p>
                <span class="re">
                {% pp_slice obj=object.description amt=200 %}
                    {% if object.description|length > 200 %}
                        {{pp_tag.sliced|markdown}}[...]
                    {% else %}
                        {{pp_tag.sliced|markdown}}
                    {% endif %}
                {% endpp_slice %}
                </span>
                </p>
                <p>
                    {% pp_get_topic_list topic=object %}
                        {% if pp_topic.count > 0 %}
                            <b>SubGroups:</b>
                            <ul>
                                {% if pp_topic.topic_list %}

                                    {% for topic in pp_topic.topic_list %}
                                        <li>{{topic.summary}}</li>
                                    {% endfor %}
                                    </ul>

                        {% endif %}
                        {% endif %}
                    {% endpp_get_topic_list %}   
             
             </div>
            <span id="addgroup{{object.pk}}"></span>            
  
        </div>
  </div>