 {#<li class="first"><a href="/index.html#myplatform">Platform</a></li>#}
{# <li><a href="/index.html#arpv">Verify</a></li> #}

{% if object %}

	{% pp_get_topic object=object %}   
		{% if pp_topic.parent != None %}

		    <li><a  href="{% pp_url template='issues.html' object=object start=0 end=20 dimension='hn' %}">Forum</a></li>

		    <li><a href="{% pp_url template='topics.html' object=object dimension='c' start=0 end=20 %}">Groups</a></li>

		   <li><a href="{% pp_url template='group.html' object=object dimension='c' start=0 end=20 %}">Info</a></li>


		{% else %}


		{% endif %}

	{% endpp_get_topic %}


{% else %}

    <li><a href="{% pp_url template='topics.html' dimension='c' start=0 end=20 %}">Working Groups</a></li>

    <li><a href="{% pp_url template='faq.html' %}">FAQ</a></li>

    {% if not object %}
	<li><a href="{% pp_url template='create_group.html' %}">Create Group</a></li>
	{% endif %}

{% endif %}

{% if not user.is_authenticated %}                
    <li><a href="{% pp_url template='register.html' %}">Register</a></li>
{% endif %}