{% load topictags %}

	{% if user.is_staff %}
		<li class="first"><a href="/200.html?">Cache</a></li>
 	{% endif %}
		{% if object %}
		    {% pp_get_root object=object %} 
		    	{% if pp_topic.root %}
					<span class="object">
					    <li><a  href="{% pp_url template='issues.html' object=pp_topic.root start=0 end=20 dimension='hn' %}">Decisions</a></li>

				        {% oa_get_group_settings object=pp_topic.root%}
				        	{% if pp_topic.settings.stream %}
										<li><a href="{% pp_url template='livestream.html' object=pp_topic.root %}">Stream</a></li>
				            {% endif %}
				        {% endoa_get_group_settings %}

					   <li><a href="{% pp_url template='group.html' object=pp_topic.root dimension='c' start=0 end=20 %}">Info</a></li>
					  </span>
				{% endif %}
		  	{% endpp_get_root %}
		{% else %}

		{% endif %}

    <li><a href="{% pp_url template='topics.html' dimension='c' start=0 end=20 %}">Assembly</a></li>
{% comment %}
    <li><a href="/index.html#arpv">Verify</a></li>
{% endcomment %}
    <li><a href="{% pp_url template='faq.html' %}">Help</a></li>
