{% load consensustags %}
{% load sourcetags %}
{% load tag_helpers %}

{% pp_consensus_get object=object.pk %}

    {% pp_get_tags object=pp_consensus.consensus %}


                <ul class="tags" id="tags">
                {% if pp_tag.tags|length > 0 %}

                    <li><b>Tags:</b></li>
                     {% for name, t_id, c_type_id, count in pp_tag.tags %}
                        <li><a href="/p/list/t-{{c_type_id}}/o-{{t_id}}/d-hn">{{name|replace_w_space}}({{count}})</a></li>
                    {% endfor %}
                {% endif %}

                </ul>


        {% endpp_get_tags %} 

    {% pp_get_sources object=object type='img' %}
        {% if pp_source.count > 0 %}
            <div class="imagetitle">Images:</div>
            <ul class="images" id="images">
                   {% for img in pp_source.sources %}
                        <li><a href="{% pp_url template='image.html' object=img %}"><img src="{{img.thumbnail.url}}"></a></li>
                   {% endfor %}
            </ul>
        {% endif %}
    {% endpp_get_sources %}
    <ul class="tags">
        {% pp_get_sources object=object type='url'%}
        {% if pp_source.sources %}
           <li class="title"><b>Sources:</b></li>
            {% for urlsource in pp_source.sources %}
                <li>
                    {% ifequal user object.user %}
                        <a href="{{urlsource.url}}" target="_blank">{{urlsource.url}}</a> <a href="/sourcedelete/{{urlsource.id}}/{{pp_consensus.consensus.pk}}/" style="color:red;">x</a>
                    {% else %}
                        <a href="{{urlsource.url}}" target="_blank">{{urlsource.url}}</a> 
                    {% endifequal %}
                </li>
            {% endfor %}
        {% endif %}
        {% endpp_get_sources %}

{% endpp_consensus_get %}