{% pp_get_sources object=object type="img" get="all" %}

<h2>Images</h2> 
  {% for upload in pp_source.sources %}

<div class="image">

          {% url pirate_sources.views.download_handler pk=upload.pk as fallback_url %}
              {% thumbnail pp_source.cur_img.file "50x50" crop="center" as im %}

                  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">

              {% endthumbnail %}
              
          {% if upload.private %}<i>Private</i>{% endif %}({{ upload.file.size|filesizeformat }})<br>

          <a class="nobbq" data-href="{% firstof upload.file|public_download_url fallback_url %}">Download</a> | 

        {% if request.user.is_staff or request.user == upload.user %}

          <a class="nobbq" data-href="{% url pirate_sources.views.change_avatar obj_pk=object.pk new_pk=upload.pk ctype_pk=pp_source.ctype %}">Choose</a>       
           | <a class="nobbq" data-href="{% url pirate_sources.views.delete_handler pk=upload.pk ctype_pk=pp_source.ctype %}">Delete</a>

        {% endif %}
          
    {% empty %}

</div>
  {% endfor %}


{% endpp_get_sources %}