{% load tag_helpers %}
<div class="reporting_percent">
    {% pp_get_reporting_percentage object=object group=pp_topic.root %}

        {% if pp_consensus.consensus.reporting_percent > pp_topic.settings.reporting_percent %}
            <b style="color:#008e25">Currently Reporting</b> {{pp_consensus.consensus.reporting_percent|percent}}
        {% else %}
            <b>Reporting:</b> {{pp_consensus.consensus.reporting_percent|percent}}
        {% endif %}
        <br>
       {% if pp_consensus.consensus.consensus_percent > pp_topic.settings.consensus_percent %}
            <b style="color:#008e25">Current Consensus</b> {{pp_consensus.consensus.consensus_percent|percent}}
        {% else %}
            <b>Consensus:</b> {{pp_consensus.consensus.consensus_percent|percent}}
        {% endif %}
        <br>
        <b style="color:#d0b500;">Avg. Quality:</b> {{pp_consensus.consensus.rating.mean}}

    {% endpp_get_reporting_percentage %}
</div>