    <ul class="group_info">
        <li> <h2>{{object.group_members}} Member{{object.group_members|pluralize}}</h2></li>
        {% oa_get_group_settings object=object %}
            <li> <h2>{% if pp_topic.settings.open_group %}Open{% else %}Closed{% endif %} Group</h2></li>
            <li> <h2>{{ pp_topic.settings.percent_reporting|percent}} Reporting</h2></li>
            <li> <h2>{{ pp_topic.settings.consensus_percentage|percent}} Consensus</h2></li>
        {% endoa_get_group_settings %}
        <li><span id="addgroup"></span></li>
     </ul>
    <ul class="group_info">
        <li> <h2>{{object.children}} Issues</h2></li>
        <li> <h2>{{object.solutions}} Nominations</h2></li>
        <li> <h2>{{object.decisions}} Decisions</h2></li>
     </ul>