{% load consensustags %}
{% load argumenttags %}

    <div id="pros"></div>
     <div class="comments">

        {% pp_get_argument_list object=object arg_type="yea" %}

            {% for arg in pp_argumentation.argument_list %}
                {% pp_consensus_get object=arg.id user=request.user %}
                <div class="comment">
                {% pp_get_avatar user=arg.user %}
                <a href="{% pp_url template='user_profile.html' object=arg.user %}" class="avatar"><img src="{{pp_profile.thumbnail_small}}" alt="{{arg.user.username}}"></a>
                {% endpp_get_avatar %}
                <div>
                    <a href="{% pp_url template='user_profile.html' object=arg.user %}" class="author">{{arg.user.username}}</a> <span class="meta">{{arg.created_dt|date:"(d/m/Y"}} at {{arg.created_dt|date:"h:sA)"}}</span>
                    <p>{{arg.summary}}</p>
                    <ul class="comment_links">
                        <li class="non_link">{{pp_consensus.interest|floatformat:0}} Interest</li>
                        {% pp_comment_count object=arg.id %}
                        <li class="non_link">{{pp_comment.count}} Comments</li>
                        {% endpp_comment_count %}
                        <li><a href="{% pp_url template='detail.html' object=arg %}">See More and Vote</a></li>
                    </ul>
                </div>
            </div>
                {% endpp_consensus_get %}
        {% endfor %}
     
      </div>

        {% endpp_get_argument_list %}

