{% load pp_url %}
{% load tag_helpers %}
{% load profiletags %}
{% load markup %}

    {% if object.is_deleted and not object.is_leaf %}

        {% if salted %}
        <ul id="comment{{object.pk}}" class="comment">
        {% endif %}

        <span class="avatar"><img src="/static/img/avatar_20x18.jpg" alt="{{object.user.username}}"></span>
       
        <li>
        
            <span class="meta">
            </span>
        <span id="comment_text{{object.pk}}">
        <p>
        [DELETED]
        </p>
        </span>

    {% else %}

            {% if object.is_deleted or object == None %}

            {% else %}

            {% if salted %}
            <ul id="comment{{object.pk}}" class="comment">
            {% endif %}

            {% include 'etc/object_img_25_user.html' %}
            
            <li>
            
            <a data-href="{% pp_url template='user_profile.html' object=object.user%}" class="author"> {{object.user.username}}</a> 
                <span class="meta">
                    {% pp_time_difference_str then=object.submit_date %}
                        {{pp_tag.dt}}
                    {% endpp_time_difference_str %}
                </span>
            <span id="comment_text{{object.pk}}" class="a_comment">
                {{object.text|markdown}}
            </span>
            <span id="comment_links{{object.pk}}">
                {% include 'etc/comment_salt.html' %}
            </span>
            {% if salted %}
            </ul>
            {% endif %}
    {% endif %}
    {% endif %}
