{% extends 'skeleton/page.html' %}

{% load pp_url %}
{% load argumenttags %}
{% load messagetags %}
{% load profiletags %}
{% load topictags %}
{% load reputationtags %}
{% load notificationtags %}
{% load markup %}
{% load badgetags %}
{% load consensustags %}
{% load subscriptiontags %}
{% load sourcetags %}
{% load filetransfers %}
{% load tag_helpers %}
{% load commenttags %}
{% load blobtags %}


{% block content %}

    <script type="text/javascript">

    $(document).ready(function() {
        {% pp_consensus_get object=object.id %}   

            {% if pp_consensus.consensus %}
                  {% pp_rating_js object=object user=user cons=pp_consensus.consensus %}

                   {{pp_consensus.rating_js|safe}} 

                  {% endpp_rating_js %}

                  {% pp_spectrum_js object=object user=user cons=pp_consensus.consensus %}

                   {{pp_consensus.spectrum_js|safe}}

                  {% endpp_spectrum_js %}

            {% endif %}

        {% endpp_consensus_get %}

    });

    </script>
    
    {% if user.is_authenticated and user.is_active %}
    <div class="pad" id="pad{{object.pk}}">
    <iframe src="http://notes.occupy.net/p/{{object.pk}}?showControls=true&showChat=true&showLineNumbers=false&useMonospaceFont=false&userName={{user.username}}&noColors=false" width=600 height=500></iframe></div>
    {% endif %}
    <h1><a data-href="{% pp_url object=object template='detail.html' %}">{{object.summary}}</a></h1>
   
    {% pp_get_root object=object %} 
        {% oa_get_group_settings object=pp_topic.root %}
        
        {% oa_ingroup object=pp_topic.root user=user %}

           {% pp_consensus_get object=object.pk user=user %}


                <div style="margin-bottom:10px;">
                    {% comment %}
                        {% if pp_consensus.consensus.interest > 1000 %}
                            <a href="{{object.get_absolute_url}}">{{ pp_consensus.consensus.interest|floatformat:0 }}</a>
                        {% else %}
                            <a href="{{object.get_absolute_url}}">{{ pp_consensus.consensus.interest|floatformat:1 }}</a>
                        {% endif %}
                    {% endcomment %}
                         by <a href="{% pp_url template='user_profile.html' object=object.user %}">{{object.user.username}}</a> on {{object.created_dt}}</div>

                        {{object.description|markdown }}

                        {% if object.location %}
                        <ul class="tags">
                            <li class="title"><b>Location:</b></li>
                            <li>{{object.location}}</li>
                        </ul><br>
                        {% endif %}

                        {% if object.target %}
                        <ul class="tags">
                            <li class="title"><b>Boycott Target:</b></li>
                            <li>{{object.target}}</li>
                        </ul><br>
                        {% endif %}

                
                <!--don't fuck with this too much, pretty much all of this is used for voting -->
                
                        <div id="temp_check{{object.pk}}" class="detail_temp_check">{% include 'content/temp_check.html' %}</div>
                        
                        Vote <span id="spectrum_vote"></span>
                        Agreement: <span id="stars-cap-spec"></span>

                        {% pp_spectrum_form object=object user=user %}
                        <form method="post" action="">

                            <div id="stars-wrapper-spec{{object.id}}">
                                {{pp_consensus.form.spectrum}}
                                {{pp_consensus.form.form_id}}
                            </div>
                            
                            {{csrf_string|safe}}

                            <noscript><input type="submit" class='button green' value="Rating"></noscript>

                        </form>
                        {% endpp_spectrum_form %}
                        <br><br>
                        Informative: <span id="stars-cap-rate"></span>
                        {% pp_rating_form object=object user=user %}

                        <form method="post" action="">

                            <div id="stars-wrapper-rate{{object.id}}">
                            
                            {{ pp_consensus.form.rating}}
                            {{pp_consensus.form.form_id}}
                            </div>
                            
                            {{csrf_string|safe}}

                        <noscript><input type="submit" class='button green' value="Rating"> </noscript>

                        </form>
                        {% endpp_rating_form %}

            <!--fuck around free for all down here! -->

<br><br>
            

            {% include 'etc/author_controls.html' %}


            <!--number currently reporting -->
            {% comment %}

<br>
            {% pp_get_ranked_decision object=pp_consensus.consensus %}
                {% oa_get_group_settings object=object.parent %}

                    {% if not pp_consensus.ranked_decision %}

                        {% pp_get_root object=object %} 
                            {% if pp_topic.root %}
                                {% pp_get_reporting_percentage object=object group=pp_topic.root %}
                                    {% if pp_consensus.reporting > pp_topic.settings.reporting_percent %}
                                        <b>Currently Reporting</b> {{pp_consensus.reporting|percent}}
                                    {% else %}
                                        <b>Currently Reporting</b> {{pp_consensus.reporting|percent}}
                                    {% endif %}               
                                {% endpp_get_reporting_percentage %}
                            {% endif %}
                        {% endpp_get_root %}
                                         
                    {% endif %}
<br>
                    {% include 'etc/edits.html' %}
<br>
        
                <!-- This is the status of the decision -->

                    {% if pp_consensus.ranked_decision %}
                        {% if pp_topic.settings.consensus_percentage > pp_consensus.ranked_decision.consensus_percent or pp_topic.settings.percent_reporting > pp_consensus.ranked_decision.reporting_percent %}

                                    Failed
                        {% else %}

                                    Passed
                        {% endif %}

                        {% if pp_topic.settings.consensus_percentage < pp_consensus.ranked_decision.consensus_percent %}
                            <b style="color:#56e110;">
                        {% else %}
                            <b style="color:#e11010">
                        {% endif %}

                        {{ pp_consensus.ranked_decision.consensus_percent|percent }} Consensus 
                        
                        {% if pp_topic.settings.percent_reporting < pp_consensus.ranked_decision.reporting_percent %}
                            <b style="color:#56e110;">
                        {% else %}
                            <b style="color:#e11010">
                        {% endif %}


                        {{ pp_consensus.ranked_decision.reporting_percent|percent }} Reported</b>
                        ({{pp_consensus.ranked_decision.submit_date|date:"jS F Y H:i"}})

                    {% endif %}

                    {{object.forumdimension.name}} Response{{pp_blob.count|pluralize}} ({{object.children}})

                    {% if pp_consensus.consensus.winners %}
                        <br>Accepting {{pp_consensus.consensus.winners}} Response{{pp_consensus.consensus.winners|pluralize}}

                    {% else %}
                        <br>Accepting All Responses With Consent
                    {% endif %}

                    {% pp_get_questions object=object dimension="r" phase="Nomination" %}
                        
                        {% if object.children > 0 %}

                            {% for object in pp_blob.blob_list %}
                                
                                {{object}}

                            {% endfor %}                    


                        {% endif %}

                    {% endpp_get_questions %}   

                {% endoa_get_group_settings %}

            {% endpp_get_ranked_decision %}

            {% endcomment %}

        {% endpp_consensus_get %}


        {% include 'forms/detail_input.html' %}

    {% endoa_ingroup %}

{% endoa_get_group_settings %}
{% endpp_get_root %}

       

    {% pp_comment_count object=object.id %}

        <a class="hidden" href="{% pp_url template='detail.html' object=object scroll_to='content_children' dimension='comments' %}">{{pp_comment.count}} Comments</a>

    {% endpp_comment_count %}


{% comment %}
    {% pp_get_argument_count object=object arg_type='yea' %}

        <a class="hidden" href="{% pp_url template='detail.html' object=object scroll_to='content_children' dimension='yea' %}">{{pp_argumentation.count}} Pros</a>

    {% endpp_get_argument_count %}

    {% pp_get_argument_count object=object arg_type='nay' %}

        <a class="hidden" href="{% pp_url template='detail.html' object=object scroll_to='content_children' dimension='nay' %}">{{pp_argumentation.count}} Cons</a>

    {% endpp_get_argument_count %}
{% endcomment %}

    <div id="content_children{{object.pk}}" class="content_children">                                
                               
    </div>

{% endblock %}