{% oa_mygroup_users object=object page=phase dimension='members' %}

    <h3>{{pp_topic.count}} Member{{pp_topic.count|pluralize}}</h3>

    <ul class="unstyled">
       {% for mygroup in pp_topic.groups %}
            <li class="listing">
                <div class="panel_list_img">
                    {% include 'etc/object_img_50_mygroup.html' %}
                </div>
            <a href="#" data-href="{% pp_url template='user_profile.html' object=mygroup.user %}">{{mygroup.user}}</a>
            </li>
        {% endfor %}

         <ul class="pager">
            {% if pp_blob.blob_list.has_previous %}
                <li><a data-href="{% pp_url template='group.html' dimension='t' object=object phase=pp_blob.blob_list.previous_page_number %}">Previous</a></li>
            {% else %}
            <li class="disabled"><a data-href="#">Previous</a></li>
            {% endif %}

            {% if pp_blob.blob_list.has_next %}
                <li><a data-href="{% pp_url template='group.html' dimension='t' object=object phase=pp_blob.blob_list.next_page_number %}">Next</a></li>
            {% else %}
                <li class="disabled"><a data-href="#">Next</a></li>
            {% endif %}
        </ul>  
        {% if pp_topic.count > end %}
            <i>To See More Members use MyGroup > Members to access through Dashboard</i>
        {% endif %}
    </ul>


{% endoa_mygroup_users %}   