{% extends 'skeleton/page.html' %}

{% load sourcetags %}
{% load cani %}
{% load groups %}


{% block content %}

<div class="row">
    <div class="avatar span1">
        {% cani object=object user=user %}
            {% if pp_permissions.permission %}
              {% pp_get_contenttype_id object=object %}
                <a id="avatar" data-href="/p/upload/o-{{object.pk}}/t-{{pp_source.ctype_pk}}">
              {% endpp_get_contenttype_id %}

            {% else %}
                <a>
            {% endif %}
        {% endcani %}  

                {% include 'etc/object_img_100.html' %}
                </a>
    
    </div>
    <div class="span8">
        <div class="row">
            <ul class="breadcrumb">
              <li>
                {% if not object.parent.summary == '__NULL__' %}

                    <h3><a data-href="{{object.parent.get_absolute_url}}">{{object.parent.summary}}</a><span class="divider">/</span></h3>

                {% endif %}
            </li>
              <li class="active"><h2>{{object.summary}}</h2></li>
              {% include 'views.html' %}
            </ul>


        </div>
        <div class="row">
            {% include 'group/group_menu.html' %}
        </div>
        <!--changing image power of facilitator -->
        
    </div>
</div>
<div class="row">
    <div class="span10">
          <ul class="nav nav-tabs" id="myTab{{object.pk}}">
            <li class="active"><a href="#proposals{{object.pk}}" data-toggle="tab">Sparks</a></li>
            <li><a href="#groups{{object.pk}}" data-toggle="tab">Affinity Groups</a></li>
            <li><a href="#members{{object.pk}}" data-toggle="tab">Members</a></li>
            <li><a href="#facilitators{{object.pk}}" data-toggle="tab">Faciliators</a></li>
            <li><a href="#mission{{object.pk}}" data-toggle="tab">Mission</a></li>
          </ul>

        <div class="tab-content">

            <div class="tab-pane" id="mission{{object.pk}}">
                <h3>Mission</h3>
                <div class="span4">{{object.description|markdown }}</div>
                {% include 'group/group_interaction.html' %}
                <div class="span3">              
                     <div class="alert">
                        <h3>What is the reporting and agreement requirements?</h3>
                            <p>These determine what is required for this groupt to put its stamp of approval on a spark. Certain groups
                            may want to only act on the most popular sparks because this allows the group to include the largest majortiy of
                            activists, increasing its potential.
                            </p>
                     </div> 
                </div>

            </div>

            <div class="tab-pane" id="groups{{object.pk}}">

                {% include 'group/group_topiclist.html' %}

            </div>

            <div class="tab-pane" id="members{{object.pk}}">

                {% include 'group/group_memberlist.html' %}

            </div>

            <div class="tab-pane active" id="proposals{{object.pk}}">

                {% include 'group/group_proposallist.html' %}

            </div>

            <div class="tab-pane" id="facilitators{{object.pk}}">

                {% include 'group/group_adminlist.html' %}

            </div>

        </div>

  </div>
                
</div>
{% endblock %}