h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: bold;
  text-rendering: optimizelegibility;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
}
h1 {
  font-size: 30px;
  line-height: 36px;
}
h1 small {
  font-size: 18px;
}
h2 {
  font-size: 24px;
  line-height: 28px;
  margin-bottom:5px;
}
h2 small {
  font-size: 18px;
}
h3 {
  line-height: 27px;
  font-size: 18px;
}
h3 small {
  font-size: 14px;
}
h4, h5, h6 {
  line-height: 18px;
}
h4 {
  font-size: 14px;
}
h4 small {
  font-size: 12px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 11px;
  text-transform: uppercase;
}
.dropdown_menu h1, .dropdown_menu h2, .dropdown_menu h3, .dropdown_menu h4, .dropdown_menu h5, .dropdown_menu h6 {
  color:#fff;
  text-align:left;
}
.dropdown_menu h1, .dropdown_menu h2, .dropdown_menu h3 {
  margin-top:-6px;
  margin-bottom:10px;
}
.dropdown_menu h4 {
  margin-bottom:0;
}
.group_preview_meta {
  font-size:10px;
}
.dropdown_menu ul {
  margin-top:-15px;
}
.page ul, .page ol {
  margin-left:20px;
}