
{% load pp_url %}
{% load topictags %}

    {% pp_get_cached_data request=request %}


<!DOCTYPE html>
<html{% oa_has_dash user=request.user %} {% if not oa_dashboard.has_board %} class="not_logged_in"{% endif %} {% endoa_has_dash %} lang="en" {% if pp_cache.nojs and request.META.PATH_INFO != '/' %} style="overflow:hidden;"{% else %}style="overflow:auto;"{% endif %}>
    <head>


        {% include 'etc/meta.html' %}

        <title>Open Assembly</title>
        <meta http-equiv="X-UA-Compatible" content="IE=9">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href="/static/css/style.0.1.css">
        <link href="/static/simple/style.css" type="text/css" media="screen" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/static/jquery.ui.stars.css">
        <link rel="stylesheet" type="text/css" href="/static/markitup/sets/markdown/style.css" />
        <script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>

    </head>
    <body>

        <div style="display:none;" id="domain">{{ request.META.HTTP_HOST }}</div>
        
        <div id="rail" class="clearfix">
            <a class="nobbq" data-href="/" id="logo"><img src="/static/img/logo.png" alt=""></a><img id="loading" src="/static/img/1.gif">
            <ul id="nav">
                {% if request.user.is_authenticated %}
                <!-- Dashboard -->
                <li><a data-href="/" onClick="minimizeAll();"><i class="icon-white icon-home icon-left"></i> Dashboard</a></li>
                <!-- Inbox -->
                {% if request.user.is_authenticated %}<li><a data-href="{% pp_url object=request.user template='inbox.html' %}"><i class="icon-white icon-envelope icon-left"></i> Inbox</a></li>{% endif %}
                <!-- Browse -->
                <li class="dropdown">
                    <a data-href="#"><i class="icon-white icon-list-alt icon-left"></i> Browse <i class="icon-white  icon-chevron-down icon-right"></i></a>
                    <div class="dropdown_menu shortpad">
                        <div class="col col3">
                            <h3>Groups</h3>
                            <ul>
                                <li><a onClick="push_dashboard('{% pp_url template='topics.html' %}', 1, 'Groups');">Alphabetically</a><i class="icon-list-alt icon-white"></i></li>
                                <li><a onClick="push_dashboard('{% pp_url template='topics.html' dimension='n' %}', 1, 'Groups');">by New</a><i class="icon-list-alt icon-white"></i></li>
                                <li><a onClick="push_dashboard('{% pp_url template='topics.html' dimension='o' %}', 1, 'Groups');">by Oldest</a><i class="icon-list-alt icon-white"></i></li>
                                <li><a onClick="push_dashboard('{% pp_url template='topics.html' dimension='h' %}', 1, 'Groups');">by Members</a><i class="icon-list-alt icon-white"></i></li>
                                <li><a onClick="push_dashboard('{% pp_url template='topics.html' dimension='c' %}', 1, 'Groups');">by Proposals</a><i class="icon-list-alt icon-white"></i></li>

                            </ul>
                        </div>
                        <div class="col col3">
                            <h3>Proposals</h3>
                            <ul>
                                <li><a onClick="push_dashboard('{% pp_url template='proposals.html' dimension='n' %}', 1, 'Proposals');">by New</a><i class="icon-list-alt icon-white"></i></li>
                                <li><a onClick="push_dashboard('{% pp_url template='proposals.html' dimension='h' %}', 1, 'Proposals');">by Hot</a><i class="icon-list-alt icon-white"></i></li>
                                <li><a onClick="push_dashboard('{% pp_url template='proposals.html' dimension='c' %}', 1, 'Proposals');">by Controversy</a><i class="icon-list-alt icon-white"></i></li>                           
                            </ul>
                        </div>
                        <div class="col col3 last">
                            <h3>Members</h3>
                            <ul>
                                <li><a onClick="push_dashboard('{% pp_url template='users.html' dimension='n' %}', 1, 'Members');">by New</a><i class="icon-list-alt icon-white"></i></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <!-- Bookmarks -->
                <!--Will develop this feature in the next version -->
                {% comment %}
                <li class="dropdown bookmark_dropdown">
                    <a data-href="#"><i class="icon-white icon-bookmark icon-left"></i> Bookmarks <i class="icon-white  icon-chevron-down icon-right"></i></a>
                    <div class="dropdown_menu">
                        <div class="col col3">
                            <h3>Groups</h3>
                            <ul class="thumbnail_list">
                                <li>
                                    <a data-href="#">
                                        <img src="http://lorempixel.com/25/25" alt="">
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur...
                                        </p>
                                    </a>
                                    <i class="icon-remove-sign icon-white"></i>
                                </li>
                                <li><a data-href="#">View All</a></li>
                            </ul>
                        </div>
                        <div class="col col3">
                            <h3>Proposals</h3>
                            <ul class="thumbnail_list">
                                <li>
                                    <a data-href="#">
                                        <img src="http://lorempixel.com/25/25" alt="">
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur...
                                        </p>
                                    </a>
                                    <i class="icon-remove-sign icon-white"></i>
                                </li>
                                <li><a data-href="#">View All</a></li>
                            </ul>
                        </div>
                        <div class="col col3 last">
                            <h3>Members</h3>
                            <ul class="thumbnail_list">
                                <li>
                                    <a data-href="#">
                                        <img src="http://lorempixel.com/25/25" alt="">
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur...
                                        </p>
                                    </a>
                                    <i class="icon-remove-sign icon-white"></i>
                                </li>
                                <li><a data-href="#">View All</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                {% endcomment %}
                <!-- My Groups -->
                <li class="dropdown">
                    <a data-href="#"><i class="icon-white icon-user icon-left"></i> My Groups <i class="icon-white  icon-chevron-down icon-right"></i></a>
                    <div class="dropdown_menu">
                        <div class="col col2">
                            <ul class="thumbnail_list">

                                {% pp_mygroups user=request.user start=0 end=15 %}
                                            
                                    {% for group in pp_topic.mygroups %}  
                                        {% include 'nav/mygroup.html' %}

                                        {% if pp_topic.half == forloop.counter %}
                                            </ul>
                                            </div>
                                            <div class="col col2 last">
                                                <ul class="thumbnail_list">
                                        {% endif %}
                                    {% endfor %}

                                     <li style="text-align:center;">
                                        <div class="group_preview btn btn_green" style="display:inline-block; margin-top:10px;">
                                            <a class="group_title" data-href="{% pp_url template='create_group.html' %}"><h4>Create a New Group</h4></a>
                                        </div>
                                    </li>

                                    {% if pp_topic.count > 10 %}<li><a data-href="#">View All</a></li>{% endif %}
                                {% endpp_mygroups %}

                            </ul>
                        </div>
                    </div>
                </li>
                {% endif %}
                {% if not request.user.is_authenticated %}
                    <li class="dropdown">

                        <a data-href="/p/register"><i class="icon-white icon-user icon-left"></i> Register/Login</a>
                    </li>
                {% endif %}
                <!-- Settings -->
                <li class="dropdown">

                    <a data-href="#"><i class="icon-white icon-cog icon-left"></i> Settings <i class="icon-white  icon-chevron-down icon-right"></i></a>
                    <div class="dropdown_menu col1 shortpad">
                        <div class="col last">
                            <ul>
                                {% if request.user.is_authenticated %}
                                    <li><a data-href="{% pp_url template='pp_profile_form.html' object=request.user %}">Edit Profile</a></li>
                                    <li><a data-href="/p/help">Help</a></li>
                                    <li><a class="nobbq" data-href="/logout/" data-href="/logout/">Logout</a></li>
                                    <li><a data-href="/p/report_abuse">Report Abuse</a></li>
                                    <li><a data-href="{% pp_url template='user.html' object=request.user %}" data-href="{% pp_url template='user.html' object=request.user %}">View Profile</a></li>
                                {% else %}

                                    <li><a data-href="/p/register">Register/Login</a></li>
                                    <li><a data-href="/p/help">Help</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
            <!-- end #nav -->
        </div>
        
        <!-- Pages -->
        <div id="pages">
            
            <!-- Page1 -->  
            {{pp_cache.data.pages|safe}}

            {% block extracontent %}

            {% endblock %}

        </div>
        
        <!-- Panels -->
        <div id="panels">
            {% if request.user.is_authenticated %}
                {% oa_has_dash user=request.user %}
                    {% if not oa_dashboard.has_board %}
                        <div id="tutorial">
                            <img src="/static/img/add_panels.jpg" alt="" style="position:absolute; top:0; right:250px;">
                        </div>
                    {% endif %}
                {% endoa_has_dash %}
            {% endif %}
            <!-- use ptall3 pwide4 -->
            {% include 'board.html' %}
            
        </div>
        
        <div id="overlay" {% if pp_cache.nojs and request.META.PATH_INFO != '/' %} style="display:auto;"{% else %}style="display:none;"{% endif %}></div>
        
        <!-- Tabs -->
        <div id="tabs" class="clearfix">

            <div id="current_tab">{{pp_cache.key}}</div>
            <div id="tab_ruler"></div>

            {{pp_cache.data.tab_ruler|safe}}

            <div id="tab_queue">
                <h3><i class="icon-white icon-align-justify icon-left"></i> <span class="tab_iterate"></span> more tabs <i class="icon-white icon-chevron-up icon-right"></i></h3>
                <div id="the_queue"></div>
            </div>
            <div id="tab_width"></div> 
        </div>
        
         <!-- Scripts -->
        <script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
        
        <script type="text/javascript" src="/static/js/jquery-ui-1.8.21.custom.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.masonry.min.js"></script>

        <script type="text/javascript" src="/static/js/highcharts.js"></script>

        <script type="text/javascript" src="/static/js/jquery.ui.stars.js"></script>

        <script type="text/javascript" src="/static/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
        <script type="text/javascript" src="/static/fancybox/jquery.fancybox-1.3.4.pack.js"></script>

        <script type="text/javascript" src="/static/js/motionpack.js"></script>
        <script type="text/javascript" src="/static/js/jquery.slideto.js"></script>

        <script type="text/javascript" src="/static/js/etherpad.js"></script>

        <script type="text/javascript" src="/static/js/openassembly1.0.1.js"></script>

        <script type="text/javascript">
            $(document).ready(function(){

                try{
                    sessionStorage.clear();
                }
                catch(err){
                    alert(err);
                }
                {% if request.user.is_authenticated %}
                    tabRemove('pregister');
                {% endif %}

                        
                $(document).ready(function(){

                    $('#loading')
                    .hide()  // hide it initially
                    .ajaxStart(function() {
                        $(this).show();
                    })
                    .ajaxStop(function() {
                        $(this).hide();
                    });
                           
                });


                //SET INITIAL PAGE LOAD ITEM AS TRUE
                var hash = location.href;
                var dom = $('#domain').html();
                var tempkey = hash.replace(dom, '');
                tempkey = tempkey.replace('http:', '');
                tempkey = tempkey.replace(/\//g,"");
                if(tempkey !== ''){
                    sessionStorage.setItem(tempkey, 'True');
                }


                // Delete panel
                $('.delete_panel').click(function(){
                    $(this).closest('.panel').remove();
                    $('#panels').masonry('reload');
                });
                
                // fire this every time a page is added or removed
                //hrefLess();
                
                // Creates Tabs
                // $.each($('#pages .page'), function(){
                //     var $this = $(this);
                //         page_id = $this.attr('id');
                //         $tabs = $('#tabs');
                //         $template = $('.tab_template');
                //         $tab_ruler = $('#tab_ruler');
                //         page_title = $this.find('.page_title').html();
                    
                //     $template.find('.tab_title').html(page_title);
                //     $template.find('.min_max').attr('id', page_id);
                //     $tab_ruler.append($template.html());
                // });
                
                
                // Removes Bookmark
                $('.bookmark_dropdown .icon-remove-sign').click(function(){
                    var $bookmark = $(this).closest('li');
                    $bookmark.fadeOut(600, function(){
                        $bookmark.remove();
                    });
                });

                rememberTabs();

                // fire every time window is resized
                $(window).resize(function(){
                    rememberTabs();
                    
                });

                // Closes/removes Page/Tab
                function tabRemove(tab){
                    tabobj = $('#tab' + tab);
                    tabobj.remove();
                    $('#page' + tab).remove();
                    sessionStorage.removeItem(tab);
                    var curtab = $('#current_tab').html();
                    if (curtab == tab){
                        $('#current_tab').html('');
                        $('#overlay').hide();
                        $("html").css("overflow", "auto");
                    }
                    rememberTabs();
                };
                
                // Sort Panels
                $('#panels').sortable({
                    handle: '.panel_header',
                    scroll: false,
                    cursor: 'move',
                    helper: 'clone'
                });
                
                // Masonry Hack - http://jsfiddle.net/desandro/XMfwZ/1/
                var t = $('#panels');
                
                t.masonry({
                    itemSelector: '.panel',
                    isResizable: true,
                    columnWidth: 1
                })
                
                t.sortable({
                    distance: 12,
                    forcePlaceholderSize: true,
                    items: '.panel',
                    placeholder: 'placeholder panel',
                    tolerance: 'pointer',
                    start: function(event, ui) {
                        ui.item.addClass('dragging').removeClass('panel');
                        if ( ui.item.hasClass('panel') ) {
                            ui.placeholder.addClass('panel');
                        }
                        ui.item.parent().masonry('reload')
                        },
                        change: function(event, ui) {
                            ui.item.parent().masonry('reload');

                        },
                        stop: function(event, ui) { 
                        ui.item.removeClass('dragging').addClass('panel');
                        var result = String(t.sortable('toArray'));
                        sort_dashboard(result);
                        ui.item.parent().masonry('reload');


                    }
                });

                //This lets us load chunk by chunk with AJAX
                $(window).bind("popstate", function(evt) {
                 var state = evt.originalEvent.state;
                     if (state && state.module === "leave") {
                           getContent();
                     }
                     if (state && state.module === "nobbq") {
                           js_redirect(state.url);
                     }
                });
                //we're popping states for nobbq events that should be loaded the usual way...

                if (history.pushState) {
                    $('body').delegate('a', 'click', function (e) {
                        var that = $(this);
                        if(that.hasClass('nobbq')){
                            history.replaceState({load:true, module:'nobbq', url: that.data('href')}, '');
                            js_redirect(that.data('href'));
                        }
                        var that = $(this);
                        var url = (typeof that.data('href') != 'undefined') ? that.data('href').replace('{{DOMAIN}}', '') : '';
                        console.log(that.data('href'));
                        if (allowPush(e, url, that)) {
                            e.preventDefault();
                            history.pushState({load:true, module:'leave'}, '', url);
                            getContent();            
                        }
                        else{ 
                            //need to load some error msg
                        }
                    });
                };
                //press escape to remove content
                function keyDown(e) {
                    var keycode = e.which
                    if(keycode == 27){
                        //remove the old page
                        var curtab = $('#current_tab').html();
                        if(curtab !== ''){
                            $('#overlay').hide();
                            $("html").css("overflow", "auto");
                            $('#current_tab').html('');
                            $('#page' + curtab).removeClass('current');
                            $('#page' + curtab).hide();
                            $('#min_max' + curtab).removeClass('current-icon');
                            $('#minmax' + curtab).find('i').toggleClass('icon-minus-sign icon-plus-sign');
                            $('#tab' + curtab).removeClass('current-icon');
                        }
                    }
                }

                document.onkeydown = keyDown
                document.captureEvents(Event.KEYDOWN)

            });
    
            $(window).load(function(){
                $('#panels').masonry('reload');
            });

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-21219475-1']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

        </script>    
     
    </body>

    {% endpp_get_cached_data %}
</html>