{% extends 'skeleton/page.html' %}

{% block content %}


	<h2>National Gathering Online Visioning Proposals Online Component</h2>
	<p>
	Below is the list of proposals created on July 4th as part of the online visioning process. These proposals are ranked in no particular order and each equally deserves the attention of the National Occupy movement. Visions created by Occupiers in Philadelphia will be posted on the <a data-href="/p/group/k-natgat-visions">National Gathering Visioning Group</a> to allow
	internet users to express feedback over those visions. As we refine our visions and goals we can go forward with new organizational tools such as Open Assembly to share what knowledge we have gained in our actions and make collective decisions about those actions.
	</p>

	<ul>
	<li>
	<a href="http://www.openassembly.org/p/item/k-creating-intentional-community-in-occupy5">Creating Intentional Community in Occupy</a>
	</li>

	<li>
	<a href="http://www.openassembly.org/p/item/k-how-can-we-build-stronger-occupy-institutions">How can we build stronger occupy institutions?</a>
	</li>

	<li>
	<a href="http://www.openassembly.org/p/item/k-decentralized-national-ga">Decentralized National GA</a>
	</li>

	<li>
	<a href="http://www.openassembly.org/p/item/k-creating-community-in-the-occupy-movement">Creating Community in the Occupy Movement</a>
	</li>

	<li>
	<a href="http://www.openassembly.org/p/item/k-a-production-plan-for-humanity">A Production Plan for Humanity</a>
	</li>

	<li>
	<a href="http://www.openassembly.org/p/item/k-economic-democracy">Economic Democracy</a>
	</li>

	<li>
	<a href="http://www.openassembly.org/p/item/k-peer-production-as-economic-democracy">Peer Production As Economic Democracy</a>
	</li>

	<li>
	<a href="http://www.openassembly.org/p/item/k-open-source-everything">Open Source Everything</a>
	</li>

	<li>
	<a href="http://www.openassembly.org/p/item/k-empathy-is-useful-when-people-also-care">Empathy is useful when people also Care</a>
	</li>

	<li>
	<a href="http://www.openassembly.org/p/item/k-free-energy-economy">Free Energy Economy</a>
	</li>

	<li>
	<a href="http://www.openassembly.org/p/item/k-lessen-dependence-by-controlling-our-own-food-supply">Lessen Dependence by Controlling Our Own Food Supply!</a>
	</li>

	<li>
	<a href="http://www.openassembly.org/p/item/k-transparency-good">Transparency Good</a>
	</li>

	<li>
	<a href="http://www.openassembly.org/p/item/k-a-national-facilitation-team">A National Facilitation Team</a>
	</li>

	<li>
	<a href="http://www.openassembly.org/p/item/k-is-the-occupy-movement-anti-war">Is the Occupy movement anti-war?</a>
	</li>

	<li>
	<a href="http://www.openassembly.org/p/item/k-basic-foundation-for-cooperative-support">Basic Foundation For Cooperative Support</a>
	</li>

	<li>
	<a href="http://www.openassembly.org/p/item/k-is-dd-essential-or-not">Is Direct Democracy essential or not?</a>
	</li>

	<li><a href="http://www.openassembly.org/p/item/k-is-there-delineation-between-individual-and-society-in-this-proposal">Is there delineation between Individual and Society in this Proposal?</a>
	</li>

	<li>
	<a href="http://www.openassembly.org/p/item/k-acknowledge-world-50-as-what-we-are-about">Acknowledge World 5.0 as What We Are about</a></li>

{% endblock %}
	</ul>