{% extends 'skeleton/page.html' %}

{% block content %}

<h1> How do I participate in the Occupy National Gathering Visioning process? </h1>
<h3> Participation in the NatGat visioning process is easy </h3>
<p>  Once you have registered your account and
confirmed your email join the <a data-href="/p/group/k-natgat-visions">National Gathering Visioning Group</a>. On the group page you can see the affinity groups where people with common visions can converge. Join the affinity group that most appeals to
you. We will use the visioning board located at Franklin Square in Philadelphia to bootstrap these affinity groups, but feel free to create your own. Remember that our collective brings us strength, so if an affinity group closely matches your vision join up and collaborate. We will be adding Maestro calls as the groups are formed so that people can communicate that way as well.
</p>
<p>
Once you have joined the group or created one you can make proposals, which include a collaborative
document where the group can collectively author the text of your proposal.
</p>
<p>
Express your preferences for each proposal in your group. You can vote both how much you agree with the proposal, as well as the objective quality of the proposal. This allows the group to create a ranked
list of proposals. Keep writing, expressing your preference, adding new proposals or working on old ones as long as you want, at any time you want.
</p>

<p>

After each group has compiled a list of proposals these proposals will be ranked by the interest of the group. Teams on the ground will synthesize this list with the list created on July 4th at NatGat in a transparent and open forum.

</p>
{% endblock %}