{% extends 'skeleton/page.html' %}

{% block content %}

<h1> How do I participate in the Occupy National Gathering Visioning process? </h1>

<p> Participation in the NatGat visioning process is easy. Once you have registered your account and
confirmed your email join the National Gathering Visioning Group. On the group page you can see the 
Affinity groups where people with common visions can converge. Join the affinity group that most appeals to
you, or create your own. Once you have joined the group you can make proposals, which include a collaborative
document where the group can collectively author the text of your proposal.
</p>
<p>
Express your preferences for each proposal in your group. You can vote both how much you agree with the proposal, as well as the objective quality of the proposal. This allows the group to create a ranked
list of proposals. Keep writing, expressing your preference, adding new proposals or working on old ones as long as you want, at any time you want.
</p>

<p>


{% endblock %}