{% extends 'index.html' %}
{% load pp_url %}
{% load blobtags %}
{% load argumenttags %}
{% load messagetags %}

{% block extracontent %}

<!-- Page1 -->
  <div id="page{{key}}" class="page current" style="display:block;">

      <div class="sink">

		<div class="email_reset">
		Forget your password? <br>
		<form method="post" action="">
		        
		        {{form}}
		        {% csrf_token %}
		<input type="submit" class="button green" value="Send Reset To Email">
		</form>
		</div>

      </div>
      
  </div>


{% endblock %}