{% load logintags %}
{% pp_user_login_form request=request %}
    <form id="pp_user_login_form" action="" method="post">
            <span class="error">{{ pp_login.errors }}{% if pp_login.complete %}<img src="/static/img/1.gif">{% endif %}</span>
            <input type="text"  name="name" id="id_name" class="input-medium headless_input" placeholder="Username"></input>
            <input type="password"  name="password" id="id_password" class="input-medium headless_input" placeholder="Password"></input>
            {{ pp_login.form.form_id}}
            {% csrf_token %}
        <input type="submit" class="btn headless_login" value="Login"></input>
        {% if pp_login.errors %}<div class="forgotpassword"><a class="nobbq" href="{% url django.contrib.auth.views.password_reset %}">Forgot your password?</a></div>{% endif %}

            <script>
            $(document).ready(function() {
                {% if pp_login.complete %}
                    js_redirect(location.href);   
                {% endif %}
            });
              $("form#pp_user_login_form").submit(function(e){
                    addObject(e);
              });
            </script>
    </form>  
{% endpp_user_login_form %}