{% load locationtags %}

<form id='oa_location_form{{object.pk}}' method="post" action="">
<h2>Set Location</h2>
{% oa_location_get object=object start=0 end=1 %}
        
    <div class="currentLocation" id="currentLocation{{object.pk}}">
        {% for lat, lon, loc in oa_loc.places %}
            <span><b>Current Location:</b> {{ loc.summary }}</span> <span onclick="deleteLocation('{{object.pk}}');" class="btn"><i class="icon-warning-sign icon-left"></i>Remove</span>
        {% endfor %}
    </div>
{% endoa_location_get %}

{% oa_location_form POST=request.POST user=user object=object request=request %}

        {{oa_loc.error}}
        {{ oa_loc.form.errors}}

            {{oa_loc.form.description}}            

            {{oa_loc.form.form_id}}
            {% csrf_token %}

       <button class="btn" id="loc_input" type="submit"><i class='icon-globe icon-left'></i>Enter Location</button>
       <span id="submit_oa_location_form{{object.pk}}"></span>
       <span>{{oa_loc.latlong}}</span>

{% if oa_loc.location %}
    {% pp_get_contenttype_id object=object %}
        <div class="location_desc{{object.pk}}">
            <h3>Did you mean</h3>
            {% for text, lat, lon in oa_loc.location %}

                <p>
                    <a onclick="createLocation('{{object.pk}}', '{{pp_source.ctype_pk}}', '{{lat}}', '{{lon}}', '{{text}}');">{{text}}</a>
                </p>

            {% endfor %}
        </div>
    {% endpp_get_contenttype_id %}



{% endif %}
{% endoa_location_form %}

        <script>

          $("form#oa_location_form{{object.pk}}").submit(function(e){
                $("#submit_oa_location_form{{object.pk}}").html("<img src='/static/img/loader.gif' class='loader'>");
                addObject(e);
            });
        </script>
</form>
