{% load blobtags %}
{% load pp_url %}


            {% pp_blob_form POST=request.POST edit='True' user=user dimension=object.get_blob_key object=object sub=pp_blob.sub %}

            {% if pp_blob.form_complete %}

                <h1>Content Successfully Edited</h1>

                <h3><a data-href="{% pp_url template='detail.html' object=pp_blob.path %}" onClick="tabRemove('{{key}}');">Check it out here</a></h3>

            {% else %}

            {{pp_blob.errors}}

                {{ pp_blob.form.media }}
                <form id='pp_blobedit_form{{object.pk}}' method="post" action="">
                <div style='display:none'><input type='hidden' name='form_id' value='pp_blobedit_form' /></div>
                    {% if pp_blob.parent_summary %}
                        <h2>Parent: {{object }}<h2/>
                    {% endif %}
                
                        {% for field in pp_blob.form %}
                        {% if field.html_name == 'parent' and pp_blob.parent_summary or field.html_name == 'form_id' or field.html_name == 'decision_time' or field.html_name == 'end_of_nomination_phase' or field.html_name == 'long_term' or field.html_name == 'timezone' %}

                        {% else %}
                        <p>
                            <b>{{field.label_tag}}{% if field.field.required %}<font color="red">*</font>{% endif %}</b>: {% if field.errors %}{% for err in field.errors %}<div class="error">{{ err }}</div>{% endfor %}{% else %}<br>{% endif %}{{ field }}<br>
                        </p>
                        {% endif %}
                        {% endfor %}


                    {% csrf_token %}
                    <input type="submit" class="button green" value="Submit" /><span id="submit_pp_blobedit_form"></span>

                </form> 

                <script>
                 
                     $("form#pp_blobedit_form{{object.pk}}").submit(function(e){
                        $("#submit_pp_blobedit_form{{object.pk}}").html("<b>Submitting...</b>")
                        addObject(e);
                        $('html').slideto({'highlight': false});                    
                    });
                </script>

                {% endif %}



            {% endpp_blob_form %}