{% load blobtags %}
{% load pp_url %}


            {% pp_blob_form POST=request.POST edit='True' user=user dimension=object.get_blob_key object=object %}

                {% if pp_blob.form_complete %}
                <div class="alert alert-info">
                    <h2>Content Successfully Submitted</h2>

                    <a class="btn" data-href="{% pp_url template='detail.html' object=pp_blob.path %}" onClick="tabRemove('{{key}}');">View Your Proposal</a>
                </div>

                {% else %}
                        <script src="/static/markitup/ajax_csrf.js" type="text/javascript"></script>
                        <script type='text/javascript' src='/static/markitup/jquery.markitup.js'></script>
                        <script type="text/javascript" src="/static/markitup/sets/markdown/set.js"></script>
                        <form id='pp_blobedit_form' method="post" action="">
                        <div style='display:none'><input type='hidden' name='form_id' value='pp_blobedit_form' /></div>

                            {% for field in pp_blob.form %}

                                    <div class="submission">

                                    <b>{{field.label_tag}}</b>
                                    
                                    {% if field.errors %}{% for err in field.errors %}<b style="color:red;">{{ err }}</b>{% endfor %}{% endif %}

                                    {% if not field.help_text %}<br>{% endif %}{{ field }}{% if field.help_text %}<br>{{field.help_text}}{% endif %}

                                    </div>


                            {% endfor %}

                        {% csrf_token %}
                        <input type="submit" class="button green btn btn_green" value="Submit" /><span id="submit_pp_blobedit_form{{object.pk}}"></span>

                    </form> 

                    <script>
                     
                         $("form#pp_blobedit_form{{object.pk}}").submit(function(e){
                            $("#submit_pp_blobedit_form").html("<img src='/static/img/loader.gif' class='loader'>")
                            addObject(e);
                            //$('html').slideto({'highlight': false});                    
                        });
                    </script>

                {% endif %}

                
                    <span id="content_side_effect" style="display:none;">["{{pp_blob.object_pk}}", "{{pp_blob.content_type}}"]</span>



            {% endpp_blob_form %}