{% load pp_url %}

{% load sourcetags %}


{% pp_comment_delete POST=request.POST object=object user=user %}

        <form id="pp_delete_form{{object.pk}}" method="post" action="">

            <input type="hidden" name="form_id" value="pp_delete_form" id="id_form_id"/>

            <input type="hidden" name="object_pk" value="{{object.pk}}" id="object_pk"/>
            {% pp_get_contenttype_id object=object %}

                <input type="hidden" name="content_type" value="{{pp_source.ctype_pk}}" id="content_type"/>
            {% endpp_get_contenttype_id %}

                {{csrf_string|safe}}
            <div>
                {% if user.is_authenticated and user.is_active %}                                                            
                <p class="lead">Are you sure?</p><input type="submit" class='btn btn-small' value="Yes">

                <a class="btn btn-small" onmousedown="toggleSlide('pp_delete_form{{object.pk}}');">No</a>

                <span style="color:red;" id="submit_pp_delete_form{{pp_comment.object_pk}}"></span>
            </div>
        </form>
                {% else %} 
                    <a class='button' data-href="{% pp_url template='register.html' %}">Submit</a>  

                {% endif %}


{% pp_get_contenttype_id object=object %}
    <span id="pp_delete_form{{pp_comment.object_pk}}_side_effect" style="display:none;">["{{pp_comment.object_pk}}", "{{pp_comment.content_type}}"]</span>          
{% endpp_get_contenttype_id %}


<script>

  $("form#pp_delete_form{{object.pk}}").submit(function(e){
        $("#submit_pp_delete_form{{object.pk}}").html("<img src='/static/img/loader.gif' class='loader'>")
        //slideup('pp_formatting_help');
        addObject(e);

    });

</script>

{% endpp_comment_delete %}