{% load topictags %}
{% load pp_url %}

{% block content %}

    {% pp_topic_form POST=request.POST user=user root=object %}

            {% if pp_topic.complete %}

            Topic Created

            {% else %}

                <form id="pp_topic_form" method="post" action="">
                            {{ pp_topic.form.form_id}}
                            
                            <b>Name of Group</b><br>{{ pp_topic.form.summary}}<br>
                            <b>Short Name</b> <span class="helptext">(less than 20 char)</span><br>{{ pp_topic.form.shortname}}<br>
                            <b>Purpose of Group</b><br>{{ pp_topic.form.description}}<br>
                            <b>Link to Outside Website</b><br>{{ pp_topic.form.more_info}}<br>

                            {{csrf_string|safe}}
                        {% if user.is_authenticated and user.is_active %}   
                        <div id="errors" class="errors">{{ pp_topic.errors }}</div>
                                                         
                        <input type="submit" class='button btn btn_green' value="Submit"><span style="color:grey;" id="submit_pp_topic_form"></span>
                </form>
                        {% else %} 
                            <a class='button btn btn_green' ata-href="{% pp_url template='register.html' %}">Submit</a>
                        {% endif %}
                <script>

                  $("form#pp_topic_form").submit(function(e){
                        $("#submit_pp_topic_form").html("<img src='/static/img/loader.gif' class='loader'>")
                        addObject(e);
                    });

                </script>

            {% endif %}

            {% if pp_topic.complete %}
                <span id="create_group_side_effect" style="display:none;">["{{pp_topic.object_pk}}", "{{pp_topic.content_type}}"]</span>
            {% endif %}
    {% endpp_topic_form %}

{% endblock %}
