{% load commenttags %}
{% load pp_url %}

{% if not object.is_deleted %}

    <div id="comment_links{{object.pk}}" class="button-toolbar">
    {% if user.is_authenticated %}
                <a class="btn btn-small" onmousedown="toggleSlide('pp_reply_form{{object.pk}}');slideup('pp_formatting_help{{object.pk}}');slideup('pp_edit_form{{object.pk}}');slideup('pp_reply_form{{object.pk}}');">Reply</a>
            {% comment %}
               <a class="btn btn-small" href="{{object.get_absolute_url}}">permalink</a>
            {% endcomment %}

            {% if user == object.user %}
                <a class="btn btn-small" onmousedown="toggleSlide('pp_edit_form{{object.pk}}');slideup('pp_formatting_help{{object.pk}}');slideup('pp_delete_form{{object.pk}}');slideup('pp_reply_form{{object.pk}}');">edit</a>
                <a class="btn btn-mini" onmousedown="toggleSlide('pp_delete_form{{object.pk}}');slideup('pp_edit_form{{object.pk}}');slideup('pp_reply_form{{object.pk}}');">delete</a>
           {% endif %}

    {% else %}
                <a class="btn btn-small" data-href="{% pp_url template='register.html' %}" >reply</a>
            {% comment %}
                <a class="btn btn-small" href="{{object.get_absolute_url}}">permalink</a>
            {% endcomment %}

    {% endif %}

        </div>
        

    {% if user == object.user %}

        <div class='reply_comment' id='pp_edit_form{{object.pk}}' style='display:none; overflow:hidden; height:290px;width:100%;'>

           {% include "forms/pp_edit_form.html" %}

        </div>

        <div class='reply_comment' id='pp_delete_form{{object.pk}}' style='display:none; overflow:hidden; height:100px;width:100%;'>

           {% include "forms/pp_delete_form.html" %}

        </div>

    {% endif %}

    {% if user.is_authenticated %}

        <div class='reply_comment' id='pp_reply_form{{object.pk}}' style='display:none; overflow:hidden; height:290px;width:100%;'>
                {% include "forms/pp_reply_form.html" %}
 
        </div>

        <div class='reply_comment' id='pp_formatting_help{{object.pk}}' style='display:none; overflow:hidden; height:290px;width:100%;'>

            {% include "etc/help.html" %}

        </div>

    {% endif %}

    

    </li>

{% else %}

{% endif %}