{% load blobtags %}
{% pp_blob_edits object=object edit_num=edit_num %}
    <b>{{pp_blob.count}} Edit{{pp_blob.count|pluralize}}</b><i>{% if pp_blob.count > 0 %}
<br>{% if pp_blob.latest_edit %} Edit {% if edit_num == None %} {{pp_blob.edit_itr}}{% else %} {{pp_blob.edit_itr}}{% endif %} : {{pp_blob.latest_edit.time}}{% else %}Original : {{object.created_dt}}{% endif %}</i>
    <br>
    	<span id="edit_num{{object.pk}}" class="{{edit_num}}" style="display:none;"></span>
	    	<span id="current_edit{{object.pk}}" class="{{pp_blob.latest_edit_pk}}" style="display:none;"></span>
	    	
	    		<a {% if edit_num <= pp_blob.count %}class="btn" onClick="load_patch('{{object.pk}}', 1);"{% else %}class="btn grey"{% endif %}>Back</a>
	    	
	    		<a {% if edit_num != 1 and edit_num != None %}class="btn" onClick="load_patch('{{object.pk}}', 0);"{% else %}class="btn grey"{% endif %}>Forward</a>
	    	
    	{% endif %}
{% endpp_blob_edits %}	
