        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        {% if pp_cache.object.content_object %}
            {% if pp_cache.object.content_object.summary %}
                <meta property="og:title" content="{{pp_cache.object.content_object.summary|title}}"/>
            {% else %}
                <meta property="og:title" content="{{pp_cache.object.content_object|title}}"/>
            {% endif %}
        {% else %}
            {% if pp_cache.object.summary %}
            <meta property="og:title" content="{{pp_cache.object|title}}"/>
            {% else %}
                {% if pp_cache.object %}
                    <meta property="og:title" content="{{object|title}}"/>
                {% else %}
                    {% if pp_cache.rendertype != 'landing' %}
                        <meta property="og:title" content="Open Assembly {{pp_cache.rendertype|title}}"/>
                    {% else %}
                        <meta property="og:title" content="Open Assembly">
                    {% endif %}
                {% endif %}
            {% endif %}

        {% endif %}

        {% pp_get_sources object=pp_cache.object type='img' get='cur' %}
            {% if pp_source.cur_img %}
            <meta property="og:image" content="{{pp_source.cur_img.file.url|cleansignature}}"/>

            {% else %}
                {% pp_get_root object=pp_cache.object %}
                    {% if pp_topic.root %}
                        {% pp_get_sources object=pp_topic.root type='img' get='cur' %}
                            <meta property="og:image" content="{{pp_source.cur_img.file.url|cleansignature}}"/>
                        {% endpp_get_sources %}
                    {% else %}
                        <meta property="og:image" content="{{pp_cache.DOMAIN}}/static/img/joyu_normal.png"/>
                    {% endif %}
                {% endpp_get_root %}
            {% endif %}
        {% endpp_get_sources %} 
                    

        <meta property="og:site_name" content="OpenAssembly"/>
        {% if pp_cache.object.content_object.description %}
        <meta property="og:description" content="{{pp_cache.object.content_object.description|markdown}}"/>
        {% else %}
            {% if pp_cache.object.description %}
            <meta property="og:description" content="{{pp_cache.object.description|markdown}}"/>
            {% else %}
            <meta property="og:description"
                  content="Open Assembly is an evolutionary leap in democratic decision making for the crowd. Join us."/>
            {% endif %}
        {% endif %}

        <link href="/static/img/favicon.ico" rel="icon" type="image/x-icon"> 
