{% extends 'skeleton/page.html' %}

{% load logintags %}
{% load verificationtags %}


{% block content %}


    {% include 'etc/register_referral.html' %}

{% if not dimension %}

    {% include 'etc/register_login.html' %}

 {% endif %}
<!-- /#myModal -->

<script>

  $("form#pp_registration_form").submit(function(e){
        $("#submit_registration_form").html("<b>Submitting...</b>")
        //slideup('pp_formatting_help');
        addObject(e);
    });

  $("form#pp_login_form").submit(function(e){
        $("#submit_login_form").html("<b>Submitting...</b>")
        //slideup('pp_formatting_help');
        addObject(e);

    });

</script>


{% endblock %}