html {
    background-color: gray;
}

#titleBar {
    width: 800px;
    margin: 0px auto 0px auto;
}

#header h2 {
    width: 600px;
    margin: 1em auto 0 auto;
    text-align: center;
}

.userInfo {
    float: right;
    padding: 2px 8px 1px 8px;
    background-color: lightgray;
    border-top-left-radius: 3px 3px;
    border-top-right-radius: 3px 3px;
}

.userInfo a {
    text-decoration: none;
    color: black;
}

.userInfo a:hover {
    text-decoration: underline;
}

#navBox {
    clear: both;
    width: 800px;
    margin: 0em auto 1em auto;
    padding: 1em;
    background-color: lightgray;    
    border-top: 1px black solid;
}


#mainContent {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #A3A3A3;
  width: 800px;
  margin: 0 auto;
  padding: 1em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -border-radius: 3px;
}

#nav{
    border: 1px solid gray;
    margin:0;
    padding:0;
    list-style-type:none;
    list-style-position:outside;
    line-height:1.5em;
}

#nav ul {
    margin:0;
    padding:0;
    padding-top: 5px;
    list-style-type: none;
    list-style-position: outside;
    line-height: 1.5em;
}

#nav a{
    display:block;
    padding:2px 10px;
    color:#000;
    text-decoration:none;
    background-color:white;
}

#nav a:hover{
    background-color:#55BBFF;
    color:white;
}

#nav li{
    float:left;
    position:relative;
}

#nav ul {
    position:absolute;
    width:12em;
    top:1.5em;
    display:none;
}

#nav li ul a{
    width:6.5em;
}


#nav li:hover ul{
    display:block;
}
 
#nav {
    float: right;
    margin-top: -5px;
}

#header strong {
    line-size: 1.5em;
}


#header hr {
    margin-top: 10px;
    background-color: black;
    border: none;
    height: 3px;
}

#header:after {
    display: block;
    height: 0;
    content: '.';
    visibility: hidden;
}

#footer {
    width: 800px;
    margin: 0 auto;
    font-size: 50%;
    text-align: right;
}
