{% comment %}

{% if object.pk %}
	<iframe class="iframe{% if object.pk %}{{object.pk}}{% else %}welcome_chat{% endif %}" src="http://webchat.freenode.net?nick={{user.username}}&channels=oa-{% if object.pk %}{{object.pk}}{% else %}welcome_chat{% endif %}&prompt=1&uio=d4" width="100%" height="{% include 'stream/stream_height.html' %}"></iframe>
{% else %}
	<iframe class="iframe{% if object.pk %}{{object.pk}}{% else %}welcome_chat{% endif %}" src="http://webchat.freenode.net?nick={{user.username}}&channels=oa-welcome-aboard&prompt=1&uio=d4" width="100%" height="{% include 'stream/stream_height.html' %}"></iframe>
{% endif %}

{% endcomment %}
<script src="http://{{settings.NODEJS_HOST}}:{{settings.NODEJS_PORT}}/socket.io/socket.io.js"></script>

<script>
		var timestamp = new Date();
		var delta;

		function EvalSound(soundobj) {
		  var thissound=document.getElementById(soundobj);
		  thissound.src = '/static/sounds/tabla.wav'
		  thissound.play();
		}

        //WEBSOCKETS SETUP        
        if(!socket){
        	var socket = io.connect('http://{{settings.NODEJS_HOST}}:{{settings.NODEJS_PORT}}');
        }

        // on connection to server, ask for user's name with an anonymous callback
        socket.on('connect', function(){
            // call the server-side function 'adduser' and send one parameter (value of prompt)
            {% if user.is_authenticated %}
            socket.emit('adduser', '{{user.username}}', '{{request.session.session_key}}', '{% if object.pk %}{{object.pk}}{% else %}welcome_chat{% endif %}');
            {% else %}
            {% pp_random_id slice=5 %}
            	socket.emit('adduser', 'guest{{pp_tag.id}}', '{{request.session.session_key}}', '{% if object.pk %}{{object.pk}}{% else %}welcome_chat{% endif %}');
            {% endpp_random_id %}
            {% endif %}
            console.log('connecting');


	        // listener, whenever the server emits 'updatechat', this updates the chat body
	        socket.on('updatechat', function (username, data, object) {
	                $('#conversation' + object).append('<b>'+username + ':</b> ' + data + '<br>');
	                eval('scrollBack' + object + '();');

					if(!document.hasFocus()){
						var delta  = new Date() - timestamp;
						if(delta > 5000 && delta){
							EvalSound('audio1');
							timestamp = new Date();
						}
					}

	        });

	        // listener, whenever the server emits 'updateusers', this updates the username list
	        socket.on('updateusers', function(data, object) {
	            $('#users' + object).empty();
	            $.each(data, function(key, value) {
	                $('#users'  + object).append('<div>' + value['username'] + '</div>');
	            });
	        });

	        function disconnect{% if object.pk %}{{object.pk}}{% else %}welcome_chat{% endif %}(){
	        	socket.disconnect();
	        }
			// on load of page
			$(function(){
				// when the client clicks SEND
				$('#datasend{% if object.pk %}{{object.pk}}{% else %}welcome_chat{% endif %}').click( function() {
					var message = $('#data{% if object.pk %}{{object.pk}}{% else %}welcome_chat{% endif %}').val();
					$('#data{% if object.pk %}{{object.pk}}{% else %}welcome_chat{% endif %}').val('');
					// tell server to execute 'sendchat' and send along one parameter
					socket.emit('sendchat', message, '{% if object.pk %}{{object.pk}}{% else %}welcome_chat{% endif %}');
					$('#data{% if object.pk %}{{object.pk}}{% else %}welcome_chat{% endif %}').focus();

				});

				// when the client hits ENTER on their keyboard
				$('#data{% if object.pk %}{{object.pk}}{% else %}welcome_chat{% endif %}').keypress(function(e) {
					if(e.which == 13) {
						$(this).blur();
						$('#datasend{% if object.pk %}{{object.pk}}{% else %}welcome_chat{% endif %}').focus().click();
					}
				});
			});

			//this dynamic javascript produced by the django template basically gives us access to the dashobj function
			//which is user specific, however the socket.io JS is global and cannot access the django templates outside of connect
			//as it is overwritten when multiple chat windows are open
			function scrollBack{% if object.pk %}{{object.pk}}{% else %}welcome_chat{% endif %}(){
				//console.log($('#panel_inner{{dashobj.pk}}')._scrollable());
				$('#panel_inner{{dashobj.pk}}').scrollTo('max');
			};

        });



</script>

<audio id="audio1" src="/static/sounds/tabla.wav" preload="auto" autobuffer>
</audio>

<div style="float:left;width:75%;height:{% include 'stream/stream_height.html' %};overflow:scroll-y;padding-left:3%;">
	<div id="conversation{% if object.pk %}{{object.pk}}{% else %}welcome_chat{% endif %}" style="margin-bottom:32px;margin-left:20%;"></div>
</div>

