
<script>
		var timestamp = new Date();
		var delta;
		//new socket for this chat session

		function scrollBack{% if object.pk %}{{object.pk}}{% else %}welcome_chat{% endif %}(){
			//console.log($('#panel_inner{{dashobj.pk}}')._scrollable());
			$('#panel_inner{{dashobj.pk}}').scrollTo('max');
		};

		// on load of page
		$(function(){

            {% if user.is_authenticated %}
            	socket.emit('adduser', '{{user.username}}', '{{request.session.session_key}}', '{% if object.pk %}{{object.pk}}{% else %}welcome_chat{% endif %}');
            {% else %}
            {% pp_random_id slice=5 %}
               socket.emit('adduser', 'guest{{pp_tag.id}}', '{{request.session.session_key}}', '{% if object.pk %}{{object.pk}}{% else %}welcome_chat{% endif %}');
            {% endpp_random_id %}
            {% endif %}


			// when the client clicks SEND
			$('#datasend{% if object.pk %}{{object.pk}}{% else %}welcome_chat{% endif %}').click( function() {
				var message = $('#data{% if object.pk %}{{object.pk}}{% else %}welcome_chat{% endif %}').val();
				if(message !== ''){
					$('#data{% if object.pk %}{{object.pk}}{% else %}welcome_chat{% endif %}').val('');
					// tell server to execute 'sendchat' and send along one parameter
					socket.emit('sendchat', message, '{% if object.pk %}{{object.pk}}{% else %}welcome_chat{% endif %}');
				}
				$('#data{% if object.pk %}{{object.pk}}{% else %}welcome_chat{% endif %}').focus();

			});

			// when the client hits ENTER on their keyboard
			$('#data{% if object.pk %}{{object.pk}}{% else %}welcome_chat{% endif %}').keypress(function(e) {
				if(e.which == 13) {
					$(this).blur();
					$('#datasend{% if object.pk %}{{object.pk}}{% else %}welcome_chat{% endif %}').focus().click();
				}
			});


			//this dynamic javascript produced by the django template basically gives us access to the dashobj function
			//which is user specific, however the socket.io JS is global and cannot access the django templates outside of connect
			//as it is overwritten when multiple chat windows are open
			

        });



</script>

<div style="float:left;width:95%;height:{% include 'stream/stream_height.html' %};overflow:scroll-y;">
	<div id="conversation{% if object.pk %}{{object.pk}}{% else %}welcome_chat{% endif %}" style="margin-bottom:9%;word-wrap: break-word;overflow-x: auto;"></div>
</div>
<div style="display:none;" id="chatsounds{% if object.pk %}{{object.pk}}{% else %}welcome_chat{% endif %}" class="true"></div>
