{% load pp_url %}
{% load tag_helpers %}
{% load profiletags %}
{% load markup %}

    {% if object.is_deleted and not object.is_leaf %}

        {% if salted %}
        <ul id="comment{{object.pk}}" class="comment">
        {% endif %}
       
        <li>
        
            <span class="meta">
            </span>
        <span id="comment_text{{object.pk}}">
        <p>
        <small>[DELETED]</small>
        </p>
        </span>

    {% else %}

            {% if object.is_deleted or object == None %}

            {% else %}

            {% if salted %}
            <ul id="comment{{object.pk}}" class="comment">
            {% endif %}            
            <li>
            <p id="comment_text{{object.pk}}">
                {{object.text|markdown}}
            </p>
            <blockquote class="comment_author"><small>
            by {% include 'etc/object_img_25_user.html' %}
            <a data-href="{% pp_url template='user_profile.html' object=object.user%}" class="author"> {{object.user.username}}</a> 
                <span class="meta">
                    {% pp_time_difference_str then=object.submit_date %}
                        {{pp_tag.dt}} ago
                    {% endpp_time_difference_str %}
                </span>
            </small></blockquote>
            <p id="comment_links{{object.pk}}">
                {% include 'etc/comment_salt.html' %}
            </p>
            {% if salted %}
            </ul>
            {% endif %}
    {% endif %}
    {% endif %}
