{% extends 'skeleton/page.html' %}

{% load topictags %}
{% load pp_url %}

{% block content %}

<div class="row">

    <div id="create_group" class="span5">

        {% pp_topic_form POST=request.POST user=user root=object %}

                <div><p class="lead"><img src="/static/img/group.png"> Create a New Group</p></div>
                <hr>

                {% if pp_topic.complete %}

                <div class="alert"><h3>Topic Created</h3>
                <p>You're being redirected to your new group...</p>
                </div>
                {% else %}

                    <form id="pp_topic_form" method="post" action="">
                                {{ pp_topic.form.form_id}}
                                
                                <p>
                                    <b>Name of Group</b><br>
                                    {{ pp_topic.form.summary}}
                                </p>
                                
                                <p style="margin-bottom:0;">
                                    <b>Short Name</b> <span class="helptext">(less than 20 char)</span><br>
                                    {{ pp_topic.form.shortname}}
                                </p>

                                <p>
                                    <b>Purpose of Group</b><br>
                                    {{ pp_topic.form.description}}
                                </p>
                                
                                <p style="margin-bottom:0;">
                                    <b>Link to Outside Website</b><br>
                                    {{ pp_topic.form.more_info}}
                                </p>

                                {{csrf_string|safe}}
                            {% if user.is_authenticated and user.is_active %}   
                            <div id="errors" class="errors">{{ pp_topic.errors }}</div>
                                                             
                            <input type="submit" class='button btn btn_green' value="Submit"><span style="color:grey;" id="submit_pp_topic_form"></span>
                    </form>
                            {% else %} 
                                <a class='button btn btn_green' data-href="{% pp_url template='register.html' %}">Submit</a>
                            {% endif %}
                    <script>

                      $("form#pp_topic_form").submit(function(e){
                            $("#submit_pp_topic_form").html("<img src='/static/img/loader.gif' class='loader'>")
                            addObject(e);
                        });

                    </script>

                {% endif %}


                {% if pp_topic.complete %}
                    <span id="create_group_side_effect" style="display:none;">["{{pp_topic.object_pk}}", "{{pp_topic.content_type}}"]</span>
                {% endif %}
        {% endpp_topic_form %}

    </div>
         
    <div class="span3 offset1 alert alert-info">
        <h3>Should I create a group?</h3>
        <p>
            Before you create that group sit and think. Do you need to create a group? You'll need to gather group members. That means inviting folks to come join the discussion and take action with you. Maybe they are local or perhaps on the internet. Open Assembly is about bringing to reality the world we want to see.
        </p>
        <p>
            That takes action.

        </p>
        <h4>Moderation and Censorship</h4>
        <p>
            There is no moderation or censorship in OA so when you invite a user to a closed group be sure you trust them. They can only voluntarily leave the group. As group Facilitator you will be responsible for maintaining some important aspects of these decision making systems however in the future the Facilitator role may be deprecated by allowing users to vote for the required percent of the group to agree and the number of people that need to vote before something is accepted by the group.
        </p>
</div>

</div>

{% endblock %}

