
{% load pp_url %}
{% load topictags %}

    {% pp_get_cached_data request=request %}


<!DOCTYPE html>
<html{% oa_has_dash user=request.user %} {% if not oa_dashboard.has_board %} class="not_logged_in"{% endif %} {% endoa_has_dash %} lang="en" {% if pp_cache.nojs and request.META.PATH_INFO != '/' %} style="overflow:hidden;"{% else %}style="overflow:auto;"{% endif %}>
    <head>


        {% include 'etc/meta.html' %}

        <title>Open Assembly</title>
        <meta http-equiv="X-UA-Compatible" content="IE=9">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href="/static/css/style.0.1.css">
        <link href="/static/simple/style.css" type="text/css" media="screen" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/static/jquery.ui.stars.css">
        <link rel="stylesheet" type="text/css" href="/static/markitup/sets/markdown/style.css" />
        <script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>

    </head>
    <body>
        <div style="display:none;" id="domain">{{ request.META.HTTP_HOST }}</div>
        
        <div id="rail" class="clearfix">
            <a class="nobbq" data-href="/" id="logo"><img src="/static/img/logo.png" alt=""></a><img id="loading" src="/static/img/1.gif">
            <ul id="nav">
                {% if request.user.is_authenticated %}
                <!-- Dashboard -->
                <li><a data-href="/" onClick="minimizeAll();"><i class="icon-white icon-home icon-left"></i> Dashboard</a></li>
                <!-- Inbox -->
                {% if request.user.is_authenticated %}<li><a data-href="{% pp_url object=request.user template='inbox.html' %}"><i class="icon-white icon-envelope icon-left"></i> Inbox</a></li>{% endif %}
                <!-- Browse -->
                <li class="dropdown">
                    <a data-href="#"><i class="icon-white icon-list-alt icon-left"></i> Browse <i class="icon-white  icon-chevron-down icon-right"></i></a>
                    <div class="dropdown_menu shortpad">
                        <div class="col col3">
                            <h3>Groups</h3>
                            <ul>
                                <li><a onClick="push_dashboard('{% pp_url template='topics.html' dimension='a' %}', 1, 'Groups');">Alphabetically</a><i class="icon-list-alt icon-white"></i></li>
                                <li><a onClick="push_dashboard('{% pp_url template='topics.html' dimension='n' %}', 1, 'Groups');">by New</a><i class="icon-list-alt icon-white"></i></li>
                                <li><a onClick="push_dashboard('{% pp_url template='topics.html' dimension='o' %}', 1, 'Groups');">by Oldest</a><i class="icon-list-alt icon-white"></i></li>
                                <li><a onClick="push_dashboard('{% pp_url template='topics.html' dimension='h' %}', 1, 'Groups');">by Members</a><i class="icon-list-alt icon-white"></i></li>
                                <li><a onClick="push_dashboard('{% pp_url template='topics.html' dimension='c' %}', 1, 'Groups');">by Proposals</a><i class="icon-list-alt icon-white"></i></li>

                            </ul>
                        </div>
                        <div class="col col3">
                            <h3>Proposals</h3>
                            <ul>
                                <li><a onClick="push_dashboard('{% pp_url template='proposals.html' dimension='x' %}', 1, 'Proposals');">by Consensus</a><i class="icon-list-alt icon-white"></i></li>  
                                <li><a onClick="push_dashboard('{% pp_url template='proposals.html' dimension='n' %}', 1, 'Proposals');">by New</a><i class="icon-list-alt icon-white"></i></li>
                                <li><a onClick="push_dashboard('{% pp_url template='proposals.html' dimension='h' %}', 1, 'Proposals');">by Hot</a><i class="icon-list-alt icon-white"></i></li>
                                <li><a onClick="push_dashboard('{% pp_url template='proposals.html' dimension='c' %}', 1, 'Proposals');">by Controversy</a><i class="icon-list-alt icon-white"></i></li>                           
                            </ul>
                        </div>
                        <div class="col col3 last">
                            <h3>Members</h3>
                            <ul>
                                <li><a onClick="push_dashboard('{% pp_url template='users.html' dimension='a' %}', 1, 'Members');">Alphabetically</a><i class="icon-list-alt icon-white"></i></li>
                                <li><a onClick="push_dashboard('{% pp_url template='users.html' dimension='n' %}', 1, 'Members');">by New</a><i class="icon-list-alt icon-white"></i></li>
                                <li><a onClick="push_dashboard('{% pp_url template='users.html' dimension='j' %}', 1, 'Members');">by Last Login</a><i class="icon-list-alt icon-white"></i></li>

                            </ul>
                        </div>
                    </div>
                </li>
                <!-- Bookmarks -->
                <!--Will develop this feature in the next version -->
                {% comment %}
                <li class="dropdown bookmark_dropdown">
                    <a data-href="#"><i class="icon-white icon-bookmark icon-left"></i> Bookmarks <i class="icon-white  icon-chevron-down icon-right"></i></a>
                    <div class="dropdown_menu">
                        <div class="col col3">
                            <h3>Groups</h3>
                            <ul class="thumbnail_list">
                                <li>
                                    <a data-href="#">
                                        <img src="http://lorempixel.com/25/25" alt="">
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur...
                                        </p>
                                    </a>
                                    <i class="icon-remove-sign icon-white"></i>
                                </li>
                                <li><a data-href="#">View All</a></li>
                            </ul>
                        </div>
                        <div class="col col3">
                            <h3>Proposals</h3>
                            <ul class="thumbnail_list">
                                <li>
                                    <a data-href="#">
                                        <img src="http://lorempixel.com/25/25" alt="">
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur...
                                        </p>
                                    </a>
                                    <i class="icon-remove-sign icon-white"></i>
                                </li>
                                <li><a data-href="#">View All</a></li>
                            </ul>
                        </div>
                        <div class="col col3 last">
                            <h3>Members</h3>
                            <ul class="thumbnail_list">
                                <li>
                                    <a data-href="#">
                                        <img src="http://lorempixel.com/25/25" alt="">
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur...
                                        </p>
                                    </a>
                                    <i class="icon-remove-sign icon-white"></i>
                                </li>
                                <li><a data-href="#">View All</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                {% endcomment %}
                <!-- My Groups -->
                <li class="dropdown">
                    <a data-href="#"><i class="icon-white icon-user icon-left"></i> My Groups <i class="icon-white  icon-chevron-down icon-right"></i></a>
                    <div class="dropdown_menu">
                        <div class="col col2">
                            <ul class="thumbnail_list">

                                {% pp_mygroups user=request.user start=0 end=15 %}
                                            
                                    {% for group in pp_topic.mygroups %}  
                                        {% include 'nav/mygroup.html' %}

                                        {% if pp_topic.half == forloop.counter %}
                                            </ul>
                                            </div>
                                            <div class="col col2 last">
                                                <ul class="thumbnail_list">
                                        {% endif %}
                                    {% endfor %}

                                     <li style="text-align:center;">
                                        <div class="group_preview btn btn_green" style="display:inline-block; margin-top:10px;">
                                            <a class="group_title" data-href="{% pp_url template='create_group.html' %}"><h4>Create a New Group</h4></a>
                                        </div>
                                    </li>

                                    {% if pp_topic.count > 10 %}<li><a data-href="#">View All</a></li>{% endif %}
                                {% endpp_mygroups %}

                            </ul>
                        </div>
                    </div>
                </li>
                {% endif %}
                {% if not request.user.is_authenticated %}
                    <li class="dropdown">

                        <a data-href="/p/register"><i class="icon-white icon-user icon-left"></i> Register/Login</a>
                    </li>
                {% endif %}
                <!-- Settings -->
                <li class="dropdown">

                    <a data-href="#"><i class="icon-white icon-cog icon-left"></i> Settings <i class="icon-white  icon-chevron-down icon-right"></i></a>
                    <div class="dropdown_menu col1 shortpad">
                        <div class="col last">
                            <ul>
                                {% if request.user.is_authenticated %}
                                    <li><a data-href="{% pp_url template='pp_profile_form.html' object=request.user %}">Edit Profile</a></li>
                                    <li><a data-href="/p/help">Help</a></li>
                                    <li><a class="nobbq" data-href="/logout/" data-href="/logout/">Logout</a></li>
                                    <li><a data-href="/p/report_abuse">Report Abuse/Submit Feedback</a></li>
                                    <li><a data-href="{% pp_url template='user.html' object=request.user %}" data-href="{% pp_url template='user.html' object=request.user %}">View Profile</a></li>
                                {% else %}

                                    <li><a data-href="/p/register">Register/Login</a></li>
                                    <li><a data-href="/p/help">Help</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
            <!-- end #nav -->
        </div>
        <!-- Pages -->
        <div id="pages">

            <!--[if IE]>
              <div id="page_ie" class="page current" style="display:block;">
                  <div class="sink">
                        <h1>Sorry Your Browser is not Supported</h1>
                        <h2>To use Open Assembly try <a href="www.google.com/chrome/">Chrome</a>, <a href="www.mozilla.org/en-US/firefox/new/">Firefox</a>, or <a href="www.apple.com/safari/">Safari</a></h2>          
                  </div>
              </div>
            <![endif]-->

            <!-- Page1 -->  
            {{pp_cache.data.pages|safe}}

            {% block extracontent %}

            {% endblock %}

        </div>
        
        <!-- Panels -->
        <div id="panels">
            {% if request.user.is_authenticated %}
                {% oa_has_dash user=request.user %}
                    {% if not oa_dashboard.has_board %}
                        <div id="tutorial">
                            <img src="/static/img/add_panels.jpg" alt="" style="position:absolute; top:0; right:250px;">
                        </div>
                    {% endif %}
                {% endoa_has_dash %}
            {% endif %}
            <!-- use ptall3 pwide4 -->
            {% include 'board.html' %}
            
        </div>
        
        <div id="overlay" {% if pp_cache.nojs and request.META.PATH_INFO != '/' %} style="display:auto;"{% else %}style="display:none;"{% endif %}></div>
        
        <!-- Tabs -->
        <div id="tabs" class="clearfix">

            <div id="current_tab">{{pp_cache.key}}</div>
            <div id="tab_ruler"></div>

            {{pp_cache.data.tab_ruler|safe}}

            <div id="tab_queue">
                <h3><i class="icon-white icon-align-justify icon-left"></i> <span class="tab_iterate"></span> more tabs <i class="icon-white icon-chevron-up icon-right"></i></h3>
                <div id="the_queue"></div>
            </div>
            <div id="tab_width"></div> 
        </div>
 

        <audio id="audio1" src="/static/sounds/tabla.wav" preload="auto" autobuffer>
        </audio>

        <audio id="connect" src="/static/sounds/connect.wav" preload="auto" autobuffer>
        </audio>

        <audio id="disconnect" src="/static/sounds/disconnect.wav" preload="auto" autobuffer>
        </audio>       
         <!-- Scripts -->
        <script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
        
        <script type="text/javascript" src="/static/js/jquery-ui-1.8.21.custom.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.masonry.min.js"></script>

        <script type="text/javascript" src="/static/js/highcharts.js"></script>

        <script type="text/javascript" src="/static/js/jquery.ui.stars.js"></script>

        <script type="text/javascript" src="/static/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
        <script type="text/javascript" src="/static/fancybox/jquery.fancybox-1.3.4.pack.js"></script>

        <script type="text/javascript" src="/static/js/motionpack.js"></script>
        <script type="text/javascript" src="/static/js/jquery.slideto.js"></script>

        <script type="text/javascript" src="/static/js/etherpad.js"></script>

        <script type="text/javascript" src="/static/js/openassembly1.0.1.js"></script>
        <script type="text/javascript" src="/static/js/jquery.scrollTo-1.4.2-min.js"></script>

        <!-- lots of index.html javascript moved to other files for sanity -->
        {% include 'etc/socket_js.html' %}
        {% include 'etc/document_js.html' %}
    <div class="notificationbox" id="dynamic">EXAMPLE TEXT</div>

    </body>

    {% endpp_get_cached_data %}
</html>