 {% extends 'skeleton/page.html' %}


{% block content %}
 
{% oa_get_group_settings object=object %}

    <a class="btn btn_green" style="margin-right:10px; margin-bottom:20px;" data-href="{% pp_url template='submit.html' object=object dimension='tem' %}">Submit a New Propsal</a>

    {% cani object=object user=user %}
        {% if pp_permissions.permission %}


            <h2>Facilitator Settings</h2>

                        {% include 'forms/oa_group_settings_form.html' %}

            <h2>Invite Members</h2>

                            {% include 'forms/oa_referral_form.html' %}

            <h2>Add Facilitators</h2>

                            {% include 'forms/oa_facilitators_form.html' %}
                
            <h2>Create Working Group</h2>

                        <div id="pp_topic_form">
                        {% include 'forms/pp_topic_form.html' %}
                        </div>

            <h2>Edit Group Info</h2>
                        <div id="pp_edittopic_form">
                        {% include 'forms/pp_edittopic_form.html' %}
                        </div>

            <h2>Change Image</h2>
                {% cani object=object user=user %}
                    {% if pp_permissions.permission %}
                      {% pp_get_contenttype_id object=object %}
                            <a id="interact_avatar" data-href="/p/upload/o-{{object.pk}}/t-{{pp_source.ctype_pk}}">
                            {% include 'etc/object_img_100.html' %}
                            </a>
                      {% endpp_get_contenttype_id %}
                    {% else %}
                        <a>
                    {% endif %}
                {% endcani %}  
        {% endif %}
    {% endcani %}       

{% endoa_get_group_settings %}

{% endblock %}

