 {% extends 'skeleton/page.html' %}


{% block content %}
{% oa_get_group_settings object=object %}

    {% cani object=object user=user %}
        {% if pp_permissions.permission %} 
            <ul class="nav nav-pills" id="interact{{object.pk}}">
              <li class="active"><a href="#fac{{object.pk}}" data-toggle="tab">Settings</a></li>
              <li><a href="#mem{{object.pk}}" data-toggle="tab">Invite Members</a></li>
              <li><a href="#add{{object.pk}}" data-toggle="tab">Add Facilitators</a></li>
              <li><a href="#tform{{object.pk}}" data-toggle="tab">Create Affinity Group</a></li>
              <li><a href="#ginfo{{object.pk}}" data-toggle="tab">Edit Group Info</a></li>
              <li><a href="#ginfo2{{object.pk}}" data-toggle="tab">Set Location</a></li>
              <li><a href="#ginfo3{{object.pk}}" data-toggle="tab">Change Image</a></li>

            </ul>

            <div class="tab-content">
              <div class="tab-pane active" id="fac{{object.pk}}">{% include 'forms/oa_group_settings_form.html' %}</div>
              <div class="tab-pane" id="mem{{object.pk}}">{% include 'forms/oa_referral_form.html' %}</div>
              <div class="tab-pane" id="add{{object.pk}}">{% include 'forms/oa_facilitators_form.html' %}</div>
              <div class="tab-pane" id="tform{{object.pk}}">{% include 'forms/pp_topic_form.html' %}</div>
              <div class="tab-pane" id="ginfo{{object.pk}}">{% include 'forms/pp_edittopic_form.html' %}</div>
              <div class="tab-pane" id="ginfo2{{object.pk}}">{% include 'forms/location_form.html' %}</div>
              <div class="tab-pane" id="ginfo3{{object.pk}}">
                    {% if pp_permissions.permission %}
                      {% pp_get_contenttype_id object=object %}
                            <a id="interact_avatar" data-href="/p/upload/o-{{object.pk}}/t-{{pp_source.ctype_pk}}">
                            {% include 'etc/object_img_100.html' %}
                            </a>
                      {% endpp_get_contenttype_id %}
                    {% else %}
                        <a>
                    {% endif %}
              </div>
            </div>

        {% endif %}
    {% endcani %}       

{% endoa_get_group_settings %}


<script>
  $(function () {
    $('#interact{{object.pk}}').tab();
  })
</script>
 
{% endblock %}

