<div id="mapdiv{{dashobj.pk}}" style="width: 100%; height: {% include 'stream/map_height.html' %}px; margin:0;"></div>


<!-- this has to be inline to override the script from open layers -->
<style type="text/css">
.olControlAttribution { display:none;}
</style>

{% oa_location_get object=object content_type=dimension type2=sort_type %}
  <script>
    $(document).ready(function(){
      var lastfeature;
      function newlatlong{{dashobj.pk}}(lat, lon){
        var lonLat = new OpenLayers.LonLat( lon ,lat )
            .transform(
              new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
              map{{dashobj.pk}}.getProjectionObject() // to Spherical Mercator Projection
            );
      return lonLat;
      };

      map{{dashobj.pk}} = new OpenLayers.Map("mapdiv{{dashobj.pk}}");
      map{{dashobj.pk}}.addLayer(new OpenLayers.Layer.OSM());


      var zoom=1;
   
      var markers = new OpenLayers.Layer.Markers( "Markers" );
      map{{dashobj.pk}}.addLayer(markers);
   

      {% for place in oa_loc.places %}


         var info{{place.pk}} = '<div class="popup"><a data-href="{{place.content_object.get_absolute_url}}">{% include "etc/object_img_50_place.html" %}<b>{{place.content_object}}</b></a></div>'
         var lonLat = newlatlong{{dashobj.pk}}('{{place.location.latitude}}', '{{place.location.longtitude}}');
         marker{{place.pk}} = new OpenLayers.Marker(lonLat)
         markers.addMarker(marker{{place.pk}});
         marker{{place.pk}}.events.register("click", marker{{place.pk}}, function(e){
              popup{{place.pk}} = new OpenLayers.Popup.FramedCloud("chicken",
                           marker{{place.pk}}.lonlat,
                           new OpenLayers.Size(300, 150),
                           info{{place.pk}},
                           null, true);
              popup{{place.pk}}.autoSize = true;
              popup{{place.pk}}.setOpacity(0.8);
              popup{{place.pk}}.events.register("click", popup{{place.pk}}, function(e){
                  history.pushState({load:true, module:'leave', url: '{{place.content_object.get_absolute_url}}'}, '', '{{place.content_object.get_absolute_url}}');
                  getContent();     
              });

              map{{dashobj.pk}}.addPopup(popup{{place.pk}});
          });

      {% endfor %}
   
      if('{{sort_type}}' == 'near'){
        alert('success!');
        var lonLat = newlatlong{{dashobj.pk}}('{{oa_loc.latitude}}', '{{oa_loc.longtitude}}');
        map{{dashobj.pk}}.setCenter (lonLat, zoom);

      }
      else if(lonLat != 'undefined'){
          map{{dashobj.pk}}.setCenter (lonLat, zoom);
      }
      else{
          var lonLat = newlatlong{{dashobj.pk}}(57,2);
          map{{dashobj.pk}}.setCenter (0, zoom);
      }
      


    });
  </script>

{% endoa_location_get %}

