{% extends 'skeleton/page.html' %}

{% block content %}

<h1> How do I participate in the Occupy National Gathering Visioning process? </h1>
<h3> Participation in the NatGat visioning process is easy </h3>
<ul>
<li> Once you have registered your account and
confirmed your email go to <a data-href="/p/group/k-natgat-visions">National Gathering Visioning Group</a>. </li>
<li> Click Join to become a member of the group and browse the list of Affinity groups. Click and join the ones you are most interested in. </li>
<li> In the <b>MyGroups</b> tab you can click on Chat, Stream, Proposals, or Members of the specified group to add those lists to your <b>Dashboard</b> </li>


<li>In your <b>Affinity Groups</b> click <b>Ask a Question</b> to begin a proposal that others can collaboratively edit through the Occupy.net etherpad in the upper right-hand corner or you can use this as a vehicle for your own personal vison. If you choose to author your own personal vision we suggest you take feedback from the comments and etherpad. </li>

<li> After a document has been forumlated express you preferences, both how you feel about the document. Vote both your agreement with the proposal and the informativeness. Remember there may be proposals you agree with but may not be low quality, and proposals you do not fully agree with but have a high quality.</li>
<li>Try to vote with both the agreement color spectrum and the informative 5-star rating.</li>
<li>Check out the ranking of the proposals on your <b>Dashboard</b> to see what proposals are most popular in the group. </li>
</ul>
<p>
In the <a data-href="/p/group/k-natgat-visions">National Gathering Visioning Group</a> you can <a data-href="/p/submit/k-natgat-visions/d-tem"><b>Ask a Question</b></a> if you have any questions regarding the process or proposals concerning how the online visioning process might work in the future.
</p>
<p>
After each group has compiled a list of proposals these proposals will be ranked by the interest of the group. Teams on the ground will synthesize this list with the list created on July 4th at NatGat in a transparent and open forum that is recorded.
</p>
{% endblock %}