{% extends 'skeleton/page.html' %}


	{% block content %}
 

		<h2>Welcome to Open Assembly</h2>

		<p>
		Lots of improvements.
		</p>

		<p>
		A new design in progress.
		</p>

		<p>
		Thanks for your patience.
		</p>

		<h2><a class="nobbq" href="http://www.occupynationalgathering.com/">Occupy National Gathering July 4th</a></h2>

		<p>
		If you can't make it to Philly for Occupy's National Gathering on July 4th don't worry!

		Open Assembly will feature an online counterpart to the visioning process. The ideas from real life
		and the internet will be synthesized. We are working with Interoccupy Maestro servers to provide VOIP
		on July 4th for this service. Details to come soon.

		</p>

	{% endblock %}
