{% extends 'skeleton/page.html'%}

{% load profiletags %}
{% load pp_url %}

{% block content %}

    <h2>Edit Your Location</h2>
    {% include 'forms/location_form.html' %}


    {% pp_get_user_profile user=request.user %}

        {% pp_profile_form POST=request.POST user=request.user profile=pp_profile.profile %}

                    <form id="pp_profile_form" method="post" action="">

                        <h2>Edit Profile</h2>
                        
                        <div id="errors" class="errors">{{ pp_profile.errors }}</div>
                        
                        {{ pp_profile.form.form_id}}
                        
                        <div>
                            <label>About Me</label>
                            {{ pp_profile.form.about_me}}
                        </div>
                        
                        <div>
                            <label>Time Zone</label>
                            {{ pp_profile.form.timezone}}
                        </div>
                        
                        <div>
                            <label>Recieve Notification Emails</label>
                            {{ pp_profile.form.receive_emails}}
                        </div>

                        {{csrf_string|safe}}
                        
                        {% if user.is_authenticated and user.is_active %}                                                            
                        
                        <button class="btn btn_green" type="submit">Update Profile <i class="icon-white icon-pencil icon-right"></i></button>
                        
                        <small id="submit_pp_profile_form"></small>
                        
                    </form>
                    
                        {% else %}
                            <a class="btn btn_green"  data-href="{% pp_url template='register.html' %}">Submit</a>
                        {% endif %}


                    <script>

                      $("form#pp_profile_form").submit(function(e){
                            $("#submit_pp_profile_form").html("<img class='loader' src='/static/img/loader.gif'>")
                            addObject(e);
                        });

                    </script>

                        {% if pp_profile.complete %}
                            <small>Update Complete ({% now "jS F Y H:i" %})</small>
                        {% endif %}


                    <span id="content_side_effect" style="display:none;">["{{pp_profile.object_pk}}", "{{pp_profile.content_type}}"]</span>
        {% endpp_profile_form %}

    {% endpp_get_user_profile %}

{% endblock %}  
