{% extends 'skeleton/page.html' %}

{% load logintags %}
{% load verificationtags %}


{% block content %}



    {% include 'etc/register_referral.html' %}

    <div class="modal-header">
        <h3>Register</h3>
    </div>
    {% pp_user_registration_form request=request dimension=request.dimension user=request.user %}
            <form id="registration_form" action="" method="post">
                <input type="text" name="name" id="id_name" class="input-medium" placeholder="Username">
                <input type="text" name="email" id="id_email" class="input-medium" placeholder="Email">
                <input type="password" name="password1" id="id_password1" class="input-medium" placeholder="Password">
                <input type="password" name="password2" id="id_password2" class="input-medium" placeholder="Confirm Password">
                {{ pp_login.form.form_id}}
                {% csrf_token %}
            <button type="submit" class="btn btn-primary"><i class="icon-user icon-white"></i> Register</button>
            {{pp_login.errors}}<br>{{ pp_login.form.errors }}
            </form>
    {% endpp_user_registration_form %}

    <div class="modal-header">
        <h3>Login</h3>
    </div>
    {% pp_user_login_form request=request dimension=request.dimension %}

            <form id="login_form" action="" method="post">
                <input type="text"  name="name" id="id_name" class="input-medium" placeholder="Username">
                <input type="password"  name="password" id="id_password" class="input-medium" placeholder="Password">
                {{ pp_login.form.form_id}}
                {% csrf_token %}
           <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> Login</button>
           {{pp_login.errors}}<br>{{ pp_login.form.errors }}
            </form>

                    
    {% endpp_user_login_form %}

    <br><a class="nobbq" data-href="{% url django.contrib.auth.views.password_reset %}">Forgot your password?</a><br>

<!-- /#myModal -->

<script>

  $("form#pp_registration_form").submit(function(e){
        $("#submit_registration_form").html("<b>Submitting...</b>")
        //slideup('pp_formatting_help');
        addObject(e);
    });

  $("form#pp_login_form").submit(function(e){
        $("#submit_login_form").html("<b>Submitting...</b>")
        //slideup('pp_formatting_help');
        addObject(e);

    });

</script>

{% endblock %}