<h1 class="page_title">{{object.username}}</h1>


{% pp_get_avatar user=object %}

    {% pp_get_contenttype_id object=object %}

        {% if user = object and user.is_authenticated %}
            <a id="avatar" data-href="/p/upload/o-{{user.id}}/t-{{pp_source.ctype_pk}}"  href="/p/upload/o-{{user.id}}/t-{{pp_source.ctype_pk}}">

            {% include 'etc/object_img_100.html' %}</a>
            {% else %}
            {% include 'etc/object_img_100.html' %}
        {% endif %}

    {% endpp_get_contenttype_id %}

{% endpp_get_avatar %}

{% if user == object %}
    {% pp_consensus_get object=object.pk %}
        {% include 'user/user_activity.html' %}
    {% endpp_consensus_get %}
{% endif %}

{{object.username}}

{% pp_get_user_profile user=object %}
    {% if pp_profile.profile.about_me %}
            <h1>About Me:</h1>
            {{pp_profile.profile.about_me}}
    {% endif %}
{% endpp_get_user_profile %}


{% if user == object %}

    Member Since: {{object.date_joined|date:"d/m/y"}}

     {% pp_get_reputation user=object %}
        Contribution: {{pp_reputation.reputation}}
     {% endpp_get_reputation %}

    {% pp_subscriber_count user=object %}                
        Trust You: {{pp_subscription.count}}
    {% endpp_subscriber_count %}

    {% pp_subscribee_count user=object %}                
        You Trust: {{pp_subscription.count}}
    {% endpp_subscribee_count %}   
    
    
{% else %} 

{% pp_has_subscription subscriber=user subscribee=object %}
        {% if not pp_subscription.has_subscription %}
            <a data-href="{% url ajaxapi.views.add_support object.id %}">I Trust This Citizen</a> 
        {% else %}
            <a data-href="{% url ajaxapi.views.remove_support object.id %}">Stop Trusting</a>
        {% endif %}
{% endpp_has_subscription %}
            

{% endif %}