<!-- Page1 -->
{% if object %}
  <div id="page{{key}}" class="page current" style="display:block;">
{% else %}
  <div id="page{{key}}" class="page current" style="display:block;">
{% endif %}

	  <div class="page_controls">

	  	<span class="ctrl"><a onClick="tabRemove('{{key}}');"><i class="icon-remove-sign"></i></a></span>
  	<span class="ctrl"><a onClick="toggleMinMax('{{key}}');"><i class="icon-minus-sign"></i></a></span>

	  </div>

      <div class="sink">

      {% block content %}


      {% endblock %}

      </div>
      
  </div>