{% block page %}
<!-- Page1 -->
{% if object %}
  <div id="page{{key}}" class="page current" style="display:block;">
{% else %}
  <div id="page{{key}}" class="page current" style="display:block;">
{% endif %}

	  <div class="page_controls">

        <a onClick="toggleMinMax('{{key}}', '{{template}}', null, false);"><span class="btn btn-mini"><i class="icon-minus"></i></span></a>
        <a onClick="refresh('/p/' + '{{template}}/' + '{{key}}'.replace('p{{template}}', ''), '#page{{key}}');">
        <span class="btn btn-mini">
        <i class="icon-refresh"></i></a></span>
        <a onClick="tabRemove('{{key}}');"><span class="btn btn-mini"><i class="icon-remove-sign"></i></span></a>


	  </div>

      <div class="sink">

      <div class="row">

          <div class="span10 center">

              {% block content %}


              {% endblock %}

          </div>


      </div>

      </div>
      
  </div>
{% endblock %}