{% extends 'skeleton/page.html' %}

{% load pp_url %}
{% load argumenttags %}
{% load messagetags %}
{% load profiletags %}
{% load topictags %}
{% load reputationtags %}
{% load notificationtags %}
{% load markup %}
{% load badgetags %}
{% load consensustags %}
{% load subscriptiontags %}
{% load sourcetags %}
{% load filetransfers %}
{% load tag_helpers %}
{% load commenttags %}
{% load blobtags %}

{% block content %}


    <div class="row">

    	<div class="span10">

      		{% include 'action/info.html' %}


      	</div>
    </div>

    <div class="row">
    <div class="span5">
          <blockquote><small>by {% include 'etc/object_img_25_user.html' %} <a data-href="{% pp_url template='user_profile.html' object=object.user %}">{{object.user.username}}</a> on {{object.created_dt}}</small></blockquote>

        <div id="description{{object.pk}}">
            {{object.description|markdown }}
        </div>

          {% oa_location_get object=object start=0 end=1 %}
              {% for lat, lon, loc in oa_loc.places %}
                  <span class="badge"><i class="icon-globe icon-white"></i> {{ loc.summary }}</span>
              {% endfor %}
          {% endoa_location_get %}

    </div>
    	<div class="span5">

          <ul class="nav nav-tabs" id="myTab{{object.pk}}">
            <li><a href="#edits_ctrl{{object.pk}}" data-toggle="tab">Edits</a></li>
            <li><a href="#images{{object.pk}}" data-toggle="tab">Images</a></li>
            <li><a href="#comment{{object.pk}}" data-toggle="tab">Comment</a></li>
            {% if object.user == request.user or user.is_staff %}
              <li><a href="#author_controls{{object.pk}}" data-toggle="tab">Author</a></li>
            {% endif %}
              
          </ul>

        <div class="tab-content">

      	    <div class="tab-pane" id="edits_ctrl{{object.pk}}">

  	            <div class="edits" id="edits{{object.pk}}">
                    {% include 'etc/edits.html' %}
  	            </div>
	           
           </div>
          {% if object.user == request.user or user.is_staff %}

             <div class="tab-pane" id="author_controls{{object.pk}}"> 
                  {% include 'etc/author_controls.html' %}
            </div>
          {% endif %}
            <div class="tab-pane" id="comment{{object.pk}}">

               {% include 'forms/detail_input.html' %}

            </div>

    		
            <div class="tab-pane" id="images{{object.pk}}">
              {% include 'forms/imgsource.html' %}

              {% include 'content/imglist.html' %}

            </div>
  
    	 </div>

    	</div>

    </div>
    <hr>


    <div class="row">
        <div class="span10">

       


    {% comment %}
        {% pp_get_argument_count object=object arg_type='yea' %}

            <a class="hidden" href="{% pp_url template='detail.html' object=object scroll_to='content_children' dimension='yea' %}">{{pp_argumentation.count}} Pros</a>

        {% endpp_get_argument_count %}

        {% pp_get_argument_count object=object arg_type='nay' %}

            <a class="hidden" href="{% pp_url template='detail.html' object=object scroll_to='content_children' dimension='nay' %}">{{pp_argumentation.count}} Cons</a>

        {% endpp_get_argument_count %}
    {% endcomment %}


          <ul class="nav nav-tabs" id="bottomTab{{object.pk}}">
            <li class="active"><a href="#content_children{{object.pk}}" data-toggle="tab">


        {% pp_comment_count object=object.id %}

            {{pp_comment.count}} Comment{{pp_comment.count|pluralize}}

        {% endpp_comment_count %}

            </a></li>
            <li><a href="#action_list{{object.pk}}" data-toggle="tab">Actions</a></li>
            
          </ul>
        <div class="tab-content">

          <div class="tab-pane" id="action_list{{object.pk}}">

             {% include 'content/actionlist.html' %}

          </div>

          <div class="tab-pane active" id="content_children{{object.pk}}">
          </div>
        </div>

    </div>
  </div>

{% endblock %}